Repository cake-contrib/Cake.Issues: changes, and which Codecov flags are due for each by the changed paths.
All: Cake.Issues, Cake.Issues.DocFx, Cake.Issues.EsLint, Cake.Issues.GitRepository, Cake.Issues.InspectCode, Cake.Issues.Markdownlint, Cake.Issues.MsBuild, Cake.Issues.PullRequests, Cake.Issues.PullRequests.AppVeyor, Cake.Issues.PullRequests.AzureDevOps, Cake.Issues.PullRequests.GitHubActions, Cake.Issues.Reporting, Cake.Issues.Reporting.Console, Cake.Issues.Reporting.Generic, Cake.Issues.Reporting.Sarif, Cake.Issues.Sarif, Cake.Issues.Terraform, Cake.Issues.Testing

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment
  
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: cake_issues
      name: Cake.Issues
      paths:
        - src/Cake.Issues/**
    - component_id: cake_issues_docfx
      name: Cake.Issues.DocFx
      paths:
        - src/Cake.Issues.DocFx/**
    - component_id: cake_issues_eslint
      name: Cake.Issues.EsLint
      paths:
        - src/Cake.Issues.EsLint/**
    - component_id: cake_issues_gitrepository
      name: Cake.Issues.GitRepository
      paths:
        - src/Cake.Issues.GitRepository/**
    - component_id: cake_issues_inspectcode
      name: Cake.Issues.InspectCode
      paths:
        - src/Cake.Issues.InspectCode/**
    - component_id: cake_issues_markdownlint
      name: Cake.Issues.Markdownlint
      paths:
        - src/Cake.Issues.Markdownlint/**
    - component_id: cake_issues_msbuild
      name: Cake.Issues.MsBuild
      paths:
        - src/Cake.Issues.MsBuild/**
    - component_id: cake_issues_pullrequests
      name: Cake.Issues.PullRequests
      paths:
        - src/Cake.Issues.PullRequests/**
    - component_id: cake_issues_pullrequests_appveyor
      name: Cake.Issues.PullRequests.AppVeyor
      paths:
        - src/Cake.Issues.PullRequests.AppVeyor/**
    - component_id: cake_issues_pullrequests_azuredevops
      name: Cake.Issues.PullRequests.AzureDevOps
      paths:
        - src/Cake.Issues.PullRequests.AzureDevOps/**
    - component_id: cake_issues_pullrequests_githubactions
      name: Cake.Issues.PullRequests.GitHubActions
      paths:
        - src/Cake.Issues.PullRequests.GitHubActions/**
    - component_id: cake_issues_reporting
      name: Cake.Issues.Reporting
      paths:
        - src/Cake.Issues.Reporting/**
    - component_id: cake_issues_reporting_console
      name: Cake.Issues.Reporting.Console
      paths:
        - src/Cake.Issues.Reporting.Console/**
    - component_id: cake_issues_reporting_generic
      name: Cake.Issues.Reporting.Generic
      paths:
        - src/Cake.Issues.Reporting.Generic/**
    - component_id: cake_issues_reporting_sarif
      name: Cake.Issues.Reporting.Sarif
      paths:
        - src/Cake.Issues.Reporting.Sarif/**
    - component_id: cake_issues_sarif
      name: Cake.Issues.Sarif
      paths:
        - src/Cake.Issues.Sarif/**
    - component_id: cake_issues_terraform
      name: Cake.Issues.Terraform
      paths:
        - src/Cake.Issues.Terraform/**
    - component_id: cake_issues_testing
      name: Cake.Issues.Testing
      paths:
        - src/Cake.Issues.Testing/**

Update release notes link
  nuspec/nuget/Cake.Frosting.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Frosting.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Frosting.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Terraform.nuspec
  nuspec/nuget/Cake.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Issues.Terraform.nuspec
  nuspec/nuget/Cake.Issues.nuspec
Due: none

Fix overwrite of JsPdf version
  src/Cake.Issues.Reporting.Generic/Templates/DxDataGrid.cshtml
Due: Cake.Issues.Reporting.Generic

Update DevExtreme to 23.1.11
  src/Cake.Issues.Reporting.Generic/HtmlDxDataGridOption.cs
  src/Cake.Issues.Reporting.Generic/Templates/DxDataGrid.cshtml
Due: Cake.Issues.Reporting.Generic

Add option to configure if tool name or fix issue provider name is used
  src/Cake.Issues.Sarif.Tests/SarifIssuesProviderFixture.cs
  src/Cake.Issues.Sarif.Tests/SarifIssuesProviderTests.cs
  src/Cake.Issues.Sarif/SarifIssuesProvider.cs
  src/Cake.Issues.Sarif/SarifIssuesSettings.cs
  src/Cake.Issues.Testing/BaseConfigurableIssueProviderFixture.cs
Due: Cake.Issues.Sarif, Cake.Issues.Testing

Add option to configure if tool name or fix issue provider name is used (#687)
  src/Cake.Issues.Sarif.Tests/SarifIssuesProviderFixture.cs
  src/Cake.Issues.Sarif.Tests/SarifIssuesProviderTests.cs
  src/Cake.Issues.Sarif/SarifIssuesProvider.cs
  src/Cake.Issues.Sarif/SarifIssuesSettings.cs
  src/Cake.Issues.Testing/BaseConfigurableIssueProviderFixture.cs
Due: Cake.Issues.Sarif, Cake.Issues.Testing

Update documentation
  docs/overview.md
Due: none

Fix repo root directory when not running on Windows
  src/Cake.Issues.Terraform/TerraformIssuesAliases.cs
Due: Cake.Issues.Terraform

Fix repo root directory when not running on Windows (#689)
  src/Cake.Issues.Terraform/TerraformIssuesAliases.cs
Due: Cake.Issues.Terraform

Add possibility to ignore arbitrary properties in IssueComparer
  src/Cake.Issues.Tests/IIssueComparerTests.cs
  src/Cake.Issues/IIssueComparer.cs
  src/Cake.Issues/IIssueProperty.cs
Due: Cake.Issues

Add possibility to ignore arbitrary properties in IssueComparer (#693)
  src/Cake.Issues.Tests/IIssueComparerTests.cs
  src/Cake.Issues/IIssueComparer.cs
  src/Cake.Issues/IIssueProperty.cs
Due: Cake.Issues

Ensure issues with only different file link have unchanged state
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.Reporting.Sarif

Ensure issues with only different file link have unchanged state (#694)
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.Reporting.Sarif

(GH-480) Add support for reading SARIF files (#482)
  docs/configuration.md
  docs/overview.md
  docs/supported-tools.md
Due: none

Fixes #699
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.Reporting.Sarif

Update test name to reflect better what it tests
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportGeneratorTests.cs
Due: none

Fix issue comparing creating Sarif reports (#700)
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.Reporting.Sarif

Update release notes link
  nuspec/nuget/Cake.Frosting.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Frosting.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Frosting.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Terraform.nuspec
  nuspec/nuget/Cake.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Issues.nuspec
Due: none

(GH-483) Add option to pass log file content (#484)
  docs/configuration.md
  docs/supported-tools.md
  docs/usage/using-cake-frosting-issues-recipe.md
  docs/usage/using-cake-issues-recipe.md
Due: none

Fix dependencies for Frosting addins
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Sarif.nuspec
Due: none

Fix dependencies for Frosting addins (#701)
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Sarif.nuspec
Due: none

Enable integration tests on Ubuntu / GitHub Actions again
  .github/workflows/integrationtests.yml
Due: none

Enable integration tests on Ubuntu / GitHub Actions again (#704)
  .github/workflows/integrationtests.yml
Due: none

Update to Cake.Recipe 4
  .config/dotnet-tools.json
  recipe.cake
Due: none

Update to Cake.Recipe 4 (#706)
  .config/dotnet-tools.json
  recipe.cake
Due: none

Move Markdownlint integration tests into runner-specific subfolder
  azure-pipelines.yml
  tests/Cake.Issues.Markdownlint/script-runner/.config/dotnet-tools.json
  tests/Cake.Issues.Markdownlint/script-runner/.gitignore
  tests/Cake.Issues.Markdownlint/script-runner/.markdownlint.json
  tests/Cake.Issues.Markdownlint/script-runner/build.cake
  tests/Cake.Issues.Markdownlint/script-runner/build.ps1
  tests/Cake.Issues.Markdownlint/script-runner/build.sh
  tests/Cake.Issues.Markdownlint/script-runner/build/analyze/analyze.cake
  tests/Cake.Issues.Markdownlint/script-runner/build/create-reports/create-reports.cake
  tests/Cake.Issues.Markdownlint/script-runner/docs/index.md
  tests/Cake.Issues.Markdownlint/script-runner/global.json
  tests/Cake.Issues.Markdownlint/script-runner/nuget.config
Due: none

Move Markdownlint integration tests into runner-specific subfolder (#703)
  azure-pipelines.yml
  tests/Cake.Issues.Markdownlint/script-runner/.config/dotnet-tools.json
  tests/Cake.Issues.Markdownlint/script-runner/.gitignore
  tests/Cake.Issues.Markdownlint/script-runner/.markdownlint.json
  tests/Cake.Issues.Markdownlint/script-runner/build.cake
  tests/Cake.Issues.Markdownlint/script-runner/build.ps1
  tests/Cake.Issues.Markdownlint/script-runner/build.sh
  tests/Cake.Issues.Markdownlint/script-runner/build/analyze/analyze.cake
  tests/Cake.Issues.Markdownlint/script-runner/build/create-reports/create-reports.cake
  tests/Cake.Issues.Markdownlint/script-runner/docs/index.md
  tests/Cake.Issues.Markdownlint/script-runner/global.json
  tests/Cake.Issues.Markdownlint/script-runner/nuget.config
Due: none

Run with diagnostic verbosity
  .appveyor.yml
Due: none

Run with diagnostic verbosity (#710)
  .appveyor.yml
Due: none

Revert "Run with diagnostic verbosity (#710)"
  .appveyor.yml
Due: none

Fix path separator for codecov
  recipe.cake
Due: none

Fix path separator for codecov (#712)
  .appveyor.yml
  recipe.cake
Due: none

Update AppVeyor build
  .appveyor.yml
Due: none
