Repository cake-contrib/Cake.Issues: changes, and which Codecov flags are due for each by the changed paths.
All: Cake.Issues, Cake.Issues.DocFx, Cake.Issues.EsLint, Cake.Issues.GitRepository, Cake.Issues.InspectCode, Cake.Issues.Markdownlint, Cake.Issues.MsBuild, Cake.Issues.PullRequests, Cake.Issues.PullRequests.AppVeyor, Cake.Issues.PullRequests.AzureDevOps, Cake.Issues.PullRequests.GitHubActions, Cake.Issues.Reporting, Cake.Issues.Reporting.Console, Cake.Issues.Reporting.Generic, Cake.Issues.Reporting.Sarif, Cake.Issues.Sarif, Cake.Issues.Terraform, Cake.Issues.Testing

Fix wrong conversion for Kind in SARIF report
  src/Cake.Issues.Reporting.Sarif/IIssueExtensions.cs
Due: Cake.Issues.Reporting.Sarif

Fix wrong conversion for Kind in SARIF report (#642)
  src/Cake.Issues.Reporting.Sarif/IIssueExtensions.cs
Due: Cake.Issues.Reporting.Sarif

Run full build on GitHub Actions
  .github/workflows/build.yml
Due: none

Use CodecovUploader
  recipe.cake
Due: none

Update .NET version in AppVeyor build
  .appveyor.yml
Due: none

Update from macOS 11 to macOS 12
  .github/workflows/integrationtests.yml
  .github/workflows/unittests.yml
Due: none

Update from macOS 11 to macOS 12 (#651)
  .github/workflows/integrationtests.yml
  .github/workflows/unittests.yml
Due: none

Update from macOS 11 to macOS 12 for Azure Pipelines
  azure-pipelines.yml
Due: none

Update to macOS 14
  azure-pipelines.yml
Due: none

Update from macOS 11 / 13 to macOS 12 / 14 for Azure Pipelines (#652)
  azure-pipelines.yml
Due: none

Optimize performance
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.Reporting.Sarif

Improve test cases
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportGeneratorTests.cs
Due: none

Improve comments
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportFormatSettings.cs
Due: Cake.Issues.Reporting.Sarif

Support setting of baseline state for each issue (#494)
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportFormatSettings.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.Reporting.Sarif

Set BaselineState when no existing issues are passed but BaselineGuid is set
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.Reporting.Sarif

(GH-494) Support setting of baseline state for each issue (#638)
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportFormatSettings.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.Reporting.Sarif

Update release notes link
  nuspec/nuget/Cake.Frosting.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Frosting.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Frosting.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Terraform.nuspec
  nuspec/nuget/Cake.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Issues.Terraform.nuspec
  nuspec/nuget/Cake.Issues.nuspec
Due: none

Update documentation
  docs/overview.md
Due: none

Update AppVeyor
  .appveyor.yml
Due: none

Update dependencies for Cake.Frosting.Issues.MsBuild
  nuspec/nuget/Cake.Frosting.Issues.MsBuild.nuspec
Due: none

Remove workaround
  src/Cake.Issues.MsBuild/LogFileFormat/BinaryLogFileFormat.cs
Due: Cake.Issues.MsBuild

Ensure Microsoft.Build.Framework.dll and Microsoft.Build.Utilities.Core.dll are available for unit tests
  src/Cake.Issues.MsBuild.Tests/Cake.Issues.MsBuild.Tests.csproj
Due: none

Add System.Configuration.ConfigurationManager.dll
  nuspec/nuget/Cake.Issues.MsBuild.nuspec
Due: none

Ignore Microsoft.Build updates also for Cake.Issues.MsBuild.Tests
  .github/renovate.json
Due: none

Ignore Microsoft.Build updates also for Cake.Issues.MsBuild.Tests (#669)
  .github/renovate.json
Due: none

Add System.Configuration.ConfigurationManager.dll (#664)
  nuspec/nuget/Cake.Issues.MsBuild.nuspec
Due: none

Add test case for TFLint files
  src/Cake.Issues.Sarif.Tests/SarifIssuesProviderTests.cs
  src/Cake.Issues.Sarif.Tests/Testfiles/tflint.sarif
Due: none

Read end-line and column information
  src/Cake.Issues.Sarif/SarifIssuesProvider.cs
Due: Cake.Issues.Sarif

Fix other test cases
  src/Cake.Issues.Sarif.Tests/SarifIssuesProviderTests.cs
Due: none

(GH-670) Read end-line and column information (#671)
  src/Cake.Issues.Sarif.Tests/SarifIssuesProviderTests.cs
  src/Cake.Issues.Sarif.Tests/Testfiles/tflint.sarif
  src/Cake.Issues.Sarif/SarifIssuesProvider.cs
Due: Cake.Issues.Sarif

(GH-672) Add version to SARIF report
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.Reporting.Sarif

(GH-672) Add version to SARIF report (#674)
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.Reporting.Sarif

(GH-673) Provide InformationalUri in SARIF report
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.Reporting.Sarif

(GH-673) Provide InformationalUri in SARIF report (#675)
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.Reporting.Sarif

Skip duplicate packages in case there are errors during publishing
  recipe.cake
Due: none

Ensure trailing slash for OriginalUriBaseIds
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportFixture.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.Reporting.Sarif

Ensure trailing slash for OriginalUriBaseIds (#677)
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportFixture.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.Reporting.Sarif

(GH-681) Set correct ruleIndex
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.Reporting.Sarif

(GH-681) Set correct ruleIndex (#682)
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.Reporting.Sarif

Path conditions:
  Cake.Issues: any of: src/Cake.Issues/**
  Cake.Issues.DocFx: any of: src/Cake.Issues.DocFx/**
  Cake.Issues.EsLint: any of: src/Cake.Issues.EsLint/**
  Cake.Issues.GitRepository: any of: src/Cake.Issues.GitRepository/**
  Cake.Issues.InspectCode: any of: src/Cake.Issues.InspectCode/**
  Cake.Issues.Markdownlint: any of: src/Cake.Issues.Markdownlint/**
  Cake.Issues.MsBuild: any of: src/Cake.Issues.MsBuild/**
  Cake.Issues.PullRequests: any of: src/Cake.Issues.PullRequests/**
  Cake.Issues.PullRequests.AppVeyor: any of: src/Cake.Issues.PullRequests.AppVeyor/**
  Cake.Issues.PullRequests.AzureDevOps: any of: src/Cake.Issues.PullRequests.AzureDevOps/**
  Cake.Issues.PullRequests.GitHubActions: any of: src/Cake.Issues.PullRequests.GitHubActions/**
  Cake.Issues.Reporting: any of: src/Cake.Issues.Reporting/**
  Cake.Issues.Reporting.Console: any of: src/Cake.Issues.Reporting.Console/**
  Cake.Issues.Reporting.Generic: any of: src/Cake.Issues.Reporting.Generic/**
  Cake.Issues.Reporting.Sarif: any of: src/Cake.Issues.Reporting.Sarif/**
  Cake.Issues.Sarif: any of: src/Cake.Issues.Sarif/**
  Cake.Issues.Terraform: any of: src/Cake.Issues.Terraform/**
  Cake.Issues.Testing: any of: src/Cake.Issues.Testing/**
