Repository cake-contrib/Cake.Issues: changes, and which Codecov flags are due for each by the changed paths.
All: Cake.Issues, Cake.Issues.DocFx, Cake.Issues.EsLint, Cake.Issues.GitRepository, Cake.Issues.InspectCode, Cake.Issues.Markdownlint, Cake.Issues.MsBuild, Cake.Issues.PullRequests, Cake.Issues.PullRequests.AppVeyor, Cake.Issues.PullRequests.AzureDevOps, Cake.Issues.PullRequests.GitHubActions, Cake.Issues.Reporting, Cake.Issues.Reporting.Console, Cake.Issues.Reporting.Generic, Cake.Issues.Reporting.Sarif, Cake.Issues.Sarif, Cake.Issues.Terraform, Cake.Issues.Testing

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment
  
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: cake_issues
      name: Cake.Issues
      paths:
        - src/Cake.Issues/**
    - component_id: cake_issues_docfx
      name: Cake.Issues.DocFx
      paths:
        - src/Cake.Issues.DocFx/**
    - component_id: cake_issues_eslint
      name: Cake.Issues.EsLint
      paths:
        - src/Cake.Issues.EsLint/**
    - component_id: cake_issues_gitrepository
      name: Cake.Issues.GitRepository
      paths:
        - src/Cake.Issues.GitRepository/**
    - component_id: cake_issues_inspectcode
      name: Cake.Issues.InspectCode
      paths:
        - src/Cake.Issues.InspectCode/**
    - component_id: cake_issues_markdownlint
      name: Cake.Issues.Markdownlint
      paths:
        - src/Cake.Issues.Markdownlint/**
    - component_id: cake_issues_msbuild
      name: Cake.Issues.MsBuild
      paths:
        - src/Cake.Issues.MsBuild/**
    - component_id: cake_issues_pullrequests
      name: Cake.Issues.PullRequests
      paths:
        - src/Cake.Issues.PullRequests/**
    - component_id: cake_issues_pullrequests_appveyor
      name: Cake.Issues.PullRequests.AppVeyor
      paths:
        - src/Cake.Issues.PullRequests.AppVeyor/**
    - component_id: cake_issues_pullrequests_azuredevops
      name: Cake.Issues.PullRequests.AzureDevOps
      paths:
        - src/Cake.Issues.PullRequests.AzureDevOps/**
    - component_id: cake_issues_pullrequests_githubactions
      name: Cake.Issues.PullRequests.GitHubActions
      paths:
        - src/Cake.Issues.PullRequests.GitHubActions/**
    - component_id: cake_issues_reporting
      name: Cake.Issues.Reporting
      paths:
        - src/Cake.Issues.Reporting/**
    - component_id: cake_issues_reporting_console
      name: Cake.Issues.Reporting.Console
      paths:
        - src/Cake.Issues.Reporting.Console/**
    - component_id: cake_issues_reporting_generic
      name: Cake.Issues.Reporting.Generic
      paths:
        - src/Cake.Issues.Reporting.Generic/**
    - component_id: cake_issues_reporting_sarif
      name: Cake.Issues.Reporting.Sarif
      paths:
        - src/Cake.Issues.Reporting.Sarif/**
    - component_id: cake_issues_sarif
      name: Cake.Issues.Sarif
      paths:
        - src/Cake.Issues.Sarif/**
    - component_id: cake_issues_terraform
      name: Cake.Issues.Terraform
      paths:
        - src/Cake.Issues.Terraform/**
    - component_id: cake_issues_testing
      name: Cake.Issues.Testing
      paths:
        - src/Cake.Issues.Testing/**

Ignore Cake runner minor and patch updates (#782)
  .github/renovate.json
Due: none

Fix .NET version for Cake.Issues.MsBuild integration test
  .azuredevops/pipelines/templates/stages/integration-tests-msbuild.yml
  .github/workflows/integrationtests.yml
  tests/Cake.Issues.MsBuild/script-runner/net6.0/.config/dotnet-tools.json
  tests/Cake.Issues.MsBuild/script-runner/net6.0/.gitignore
  tests/Cake.Issues.MsBuild/script-runner/net6.0/build.cake
  tests/Cake.Issues.MsBuild/script-runner/net6.0/build.ps1
  tests/Cake.Issues.MsBuild/script-runner/net6.0/build.sh
  tests/Cake.Issues.MsBuild/script-runner/net6.0/buildData.cake
  tests/Cake.Issues.MsBuild/script-runner/net6.0/global.json
  tests/Cake.Issues.MsBuild/script-runner/net6.0/nuget.config
  tests/Cake.Issues.MsBuild/script-runner/net6.0/src/ClassLibrary1.sln
  tests/Cake.Issues.MsBuild/script-runner/net6.0/src/ClassLibrary1/Class1.cs
  tests/Cake.Issues.MsBuild/script-runner/net6.0/src/ClassLibrary1/ClassLibrary1.csproj
  tests/Cake.Issues.MsBuild/script-runner/net7.0/.config/dotnet-tools.json
  tests/Cake.Issues.MsBuild/script-runner/net7.0/.gitignore
  tests/Cake.Issues.MsBuild/script-runner/net7.0/build.cake
  tests/Cake.Issues.MsBuild/script-runner/net7.0/build.ps1
  tests/Cake.Issues.MsBuild/script-runner/net7.0/build.sh
  tests/Cake.Issues.MsBuild/script-runner/net7.0/buildData.cake
  tests/Cake.Issues.MsBuild/script-runner/net7.0/global.json
  tests/Cake.Issues.MsBuild/script-runner/net7.0/nuget.config
  tests/Cake.Issues.MsBuild/script-runner/net7.0/src/ClassLibrary1.sln
  tests/Cake.Issues.MsBuild/script-runner/net7.0/src/ClassLibrary1/Class1.cs
  tests/Cake.Issues.MsBuild/script-runner/net7.0/src/ClassLibrary1/ClassLibrary1.csproj
  tests/Cake.Issues.MsBuild/script-runner/net8.0/.config/dotnet-tools.json
  tests/Cake.Issues.MsBuild/script-runner/net8.0/.gitignore
  tests/Cake.Issues.MsBuild/script-runner/net8.0/build.cake
  tests/Cake.Issues.MsBuild/script-runner/net8.0/build.ps1
  tests/Cake.Issues.MsBuild/script-runner/net8.0/build.sh
  tests/Cake.Issues.MsBuild/script-runner/net8.0/buildData.cake
  tests/Cake.Issues.MsBuild/script-runner/net8.0/global.json
  tests/Cake.Issues.MsBuild/script-runner/net8.0/nuget.config
  tests/Cake.Issues.MsBuild/script-runner/net8.0/src/ClassLibrary1.sln
  tests/Cake.Issues.MsBuild/script-runner/net8.0/src/ClassLibrary1/Class1.cs
  tests/Cake.Issues.MsBuild/script-runner/net8.0/src/ClassLibrary1/ClassLibrary1.csproj
Due: none

Fix .NET version for Cake.Issues.MsBuild integration test (#783)
  .azuredevops/pipelines/templates/stages/integration-tests-msbuild.yml
  .github/workflows/integrationtests.yml
  tests/Cake.Issues.MsBuild/script-runner/net6.0/.config/dotnet-tools.json
  tests/Cake.Issues.MsBuild/script-runner/net6.0/.gitignore
  tests/Cake.Issues.MsBuild/script-runner/net6.0/build.cake
  tests/Cake.Issues.MsBuild/script-runner/net6.0/build.ps1
  tests/Cake.Issues.MsBuild/script-runner/net6.0/build.sh
  tests/Cake.Issues.MsBuild/script-runner/net6.0/buildData.cake
  tests/Cake.Issues.MsBuild/script-runner/net6.0/global.json
  tests/Cake.Issues.MsBuild/script-runner/net6.0/nuget.config
  tests/Cake.Issues.MsBuild/script-runner/net6.0/src/ClassLibrary1.sln
  tests/Cake.Issues.MsBuild/script-runner/net6.0/src/ClassLibrary1/Class1.cs
  tests/Cake.Issues.MsBuild/script-runner/net6.0/src/ClassLibrary1/ClassLibrary1.csproj
  tests/Cake.Issues.MsBuild/script-runner/net7.0/.config/dotnet-tools.json
  tests/Cake.Issues.MsBuild/script-runner/net7.0/.gitignore
  tests/Cake.Issues.MsBuild/script-runner/net7.0/build.cake
  tests/Cake.Issues.MsBuild/script-runner/net7.0/build.ps1
  tests/Cake.Issues.MsBuild/script-runner/net7.0/build.sh
  tests/Cake.Issues.MsBuild/script-runner/net7.0/buildData.cake
  tests/Cake.Issues.MsBuild/script-runner/net7.0/global.json
  tests/Cake.Issues.MsBuild/script-runner/net7.0/nuget.config
  tests/Cake.Issues.MsBuild/script-runner/net7.0/src/ClassLibrary1.sln
  tests/Cake.Issues.MsBuild/script-runner/net7.0/src/ClassLibrary1/Class1.cs
  tests/Cake.Issues.MsBuild/script-runner/net7.0/src/ClassLibrary1/ClassLibrary1.csproj
  tests/Cake.Issues.MsBuild/script-runner/net8.0/.config/dotnet-tools.json
  tests/Cake.Issues.MsBuild/script-runner/net8.0/.gitignore
  tests/Cake.Issues.MsBuild/script-runner/net8.0/build.cake
  tests/Cake.Issues.MsBuild/script-runner/net8.0/build.ps1
  tests/Cake.Issues.MsBuild/script-runner/net8.0/build.sh
  tests/Cake.Issues.MsBuild/script-runner/net8.0/buildData.cake
  tests/Cake.Issues.MsBuild/script-runner/net8.0/global.json
  tests/Cake.Issues.MsBuild/script-runner/net8.0/nuget.config
  tests/Cake.Issues.MsBuild/script-runner/net8.0/src/ClassLibrary1.sln
  tests/Cake.Issues.MsBuild/script-runner/net8.0/src/ClassLibrary1/Class1.cs
  tests/Cake.Issues.MsBuild/script-runner/net8.0/src/ClassLibrary1/ClassLibrary1.csproj
Due: none

Remove GitHubActionsPullRequestSystem constructor which accepts ICakeContext
  src/Cake.Issues.PullRequests.GitHubActions/GitHubActionsPullRequestSystem.cs
Due: Cake.Issues.PullRequests.GitHubActions

Remove not required package reference
  src/Cake.Issues.EsLint/Cake.Issues.EsLint.csproj
Due: Cake.Issues.EsLint

Remove not required package reference (#788)
  src/Cake.Issues.EsLint/Cake.Issues.EsLint.csproj
Due: Cake.Issues.EsLint

Update transitive dependencies to fix security vulnerabilities
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Sarif.nuspec
  src/Cake.Issues.Reporting.Generic.Tests/Cake.Issues.Reporting.Generic.Tests.csproj
  src/Cake.Issues.Reporting.Generic/Cake.Issues.Reporting.Generic.csproj
  src/Cake.Issues.Reporting.Sarif/Cake.Issues.Reporting.Sarif.csproj
  src/Cake.Issues.Sarif/Cake.Issues.Sarif.csproj
Due: Cake.Issues.Reporting.Generic, Cake.Issues.Reporting.Sarif, Cake.Issues.Sarif

Update transitive dependencies to fix security vulnerabilities (#787)
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Sarif.nuspec
  src/Cake.Issues.Reporting.Generic.Tests/Cake.Issues.Reporting.Generic.Tests.csproj
  src/Cake.Issues.Reporting.Generic/Cake.Issues.Reporting.Generic.csproj
  src/Cake.Issues.Reporting.Sarif/Cake.Issues.Reporting.Sarif.csproj
  src/Cake.Issues.Sarif/Cake.Issues.Sarif.csproj
Due: Cake.Issues.Reporting.Generic, Cake.Issues.Reporting.Sarif, Cake.Issues.Sarif

Remove GitHubActionsPullRequestSystem constructor which accepts ICakeContext (#784)
  src/Cake.Issues.PullRequests.GitHubActions/GitHubActionsPullRequestSystem.cs
Due: Cake.Issues.PullRequests.GitHubActions

Update AppVeyor
  .appveyor.yml
Due: none

Update Frosting dependencies
  nuspec/nuget/Cake.Frosting.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Frosting.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Frosting.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Terraform.nuspec
Due: none

Update Cake.AzureDevOps to 5.0 Beta 1
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.nuspec
  src/Cake.Issues.PullRequests.AzureDevOps.Tests/Cake.Issues.PullRequests.AzureDevOps.Tests.csproj
  src/Cake.Issues.PullRequests.AzureDevOps/Cake.Issues.PullRequests.AzureDevOps.csproj
Due: Cake.Issues.PullRequests.AzureDevOps

Update Cake.AzureDevOps to 5.0 Beta 1 (#790)
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.nuspec
  src/Cake.Issues.PullRequests.AzureDevOps.Tests/Cake.Issues.PullRequests.AzureDevOps.Tests.csproj
  src/Cake.Issues.PullRequests.AzureDevOps/Cake.Issues.PullRequests.AzureDevOps.csproj
Due: Cake.Issues.PullRequests.AzureDevOps

Remove FakeMultiFormatIssueProvider.Format
  src/Cake.Issues.Testing/FakeMultiFormatIssueProvider.cs
Due: Cake.Issues.Testing

Remove FakeMultiFormatIssueProvider.Format (#791)
  src/Cake.Issues.Testing/FakeMultiFormatIssueProvider.cs
Due: Cake.Issues.Testing

Use static readonly fields instead constant arrays (CA1861)
  src/Cake.Issues.Reporting.Console.Tests/ConsoleIssueReportGeneratorTests.cs
Due: none

Seal not inherited private classes (S3260)
  src/Cake.Issues.InspectCode/InspectCodeIssuesProvider.cs
  src/Cake.Issues.Markdownlint/LogFileFormat/MarkdownlintCliJsonLogFileFormat.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.InspectCode, Cake.Issues.Markdownlint, Cake.Issues.Reporting.Sarif

Use generic overload (CA2263)
  src/Cake.Issues.Reporting.Generic.Tests/DevExtremeThemeExtensionsTests.cs
  src/Cake.Issues.Reporting.Generic.Tests/HtmlDxDataGridTemplateTests.cs
Due: none

Remove useless ToList calls (S2971)
  src/Cake.Issues.Markdownlint/LogFileFormat/MarkdownlintCliLogFileFormat.cs
Due: Cake.Issues.Markdownlint

Use GeneratedRegexAttribute (SYSLIB1045)
  src/Cake.Issues.Markdownlint/LogFileFormat/MarkdownlintCliLogFileFormat.cs
  src/Cake.Issues.Markdownlint/MarkdownlintRuleUrlResolver.cs
  src/Cake.Issues.Reporting.Generic/StringExtensions.cs
Due: Cake.Issues.Markdownlint, Cake.Issues.Reporting.Generic

Use caller information (S3236)
  src/Cake.Issues.Tests/IssuesArgumentChecksTests.cs
  src/Cake.Issues/IIssueComparer.cs
Due: Cake.Issues

Make internal build breaker static
  src/Cake.Issues.Tests/BuildBreakerTests.cs
  src/Cake.Issues/Aliases.BuildBreaking.cs
  src/Cake.Issues/BuildBreaker.cs
Due: Cake.Issues

Make private methods static (S2325)
  src/Cake.Issues.Reporting.Console/IssueDiagnostic.cs
Due: Cake.Issues.Reporting.Console

Simplify names (IDE0001)
  src/Cake.Issues.Reporting.Generic/GenericIssueReportGenerator.cs
  src/Cake.Issues.Reporting.Generic/IIssueExtensions.cs
  src/Cake.Issues.Tests/FileLinking/IDictionaryExtensionsTests.cs
  src/Cake.Issues.Tests/Serialization/IssueSerializationExtensionsTests.cs
Due: Cake.Issues.Reporting.Generic

Make internal build breaker static (#793)
  src/Cake.Issues.Tests/BuildBreakerTests.cs
  src/Cake.Issues/Aliases.BuildBreaking.cs
  src/Cake.Issues/BuildBreaker.cs
Due: Cake.Issues

Fix linting issues (#792)
  src/Cake.Issues.InspectCode/InspectCodeIssuesProvider.cs
  src/Cake.Issues.Markdownlint/LogFileFormat/MarkdownlintCliJsonLogFileFormat.cs
  src/Cake.Issues.Markdownlint/LogFileFormat/MarkdownlintCliLogFileFormat.cs
  src/Cake.Issues.Markdownlint/MarkdownlintRuleUrlResolver.cs
  src/Cake.Issues.Reporting.Console.Tests/ConsoleIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Console/IssueDiagnostic.cs
  src/Cake.Issues.Reporting.Generic.Tests/DevExtremeThemeExtensionsTests.cs
  src/Cake.Issues.Reporting.Generic.Tests/HtmlDxDataGridTemplateTests.cs
  src/Cake.Issues.Reporting.Generic/StringExtensions.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
  src/Cake.Issues.Tests/IssuesArgumentChecksTests.cs
  src/Cake.Issues/IIssueComparer.cs
Due: Cake.Issues, Cake.Issues.InspectCode, Cake.Issues.Markdownlint, Cake.Issues.Reporting.Console, Cake.Issues.Reporting.Generic, Cake.Issues.Reporting.Sarif

Simplify names (IDE0001) (#794)
  src/Cake.Issues.Reporting.Generic/GenericIssueReportGenerator.cs
  src/Cake.Issues.Reporting.Generic/IIssueExtensions.cs
  src/Cake.Issues.Tests/FileLinking/IDictionaryExtensionsTests.cs
  src/Cake.Issues.Tests/Serialization/IssueSerializationExtensionsTests.cs
Due: Cake.Issues.Reporting.Generic

Update Frosting Dependency
  nuspec/nuget/Cake.Frosting.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Frosting.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Frosting.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Terraform.nuspec
Due: none

Update release notes link
  nuspec/nuget/Cake.Frosting.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Frosting.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Frosting.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Terraform.nuspec
  nuspec/nuget/Cake.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Issues.nuspec
Due: none

Reference Cake.Frosting.AzureDevOps
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.nuspec
Due: none

Update Cake.Issues to 5.0.0-beta0001 (#515)
  docs/overview.md
Due: none

Reference Cake.Frosting.AzureDevOps
  src/Cake.Issues.PullRequests.AzureDevOps/Cake.Issues.PullRequests.AzureDevOps.csproj
Due: Cake.Issues.PullRequests.AzureDevOps

Update Cake.AzureDevOps to 5.0.0 Beta 3
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.nuspec
  src/Cake.Issues.PullRequests.AzureDevOps.Tests/Cake.Issues.PullRequests.AzureDevOps.Tests.csproj
  src/Cake.Issues.PullRequests.AzureDevOps/Cake.Issues.PullRequests.AzureDevOps.csproj
Due: Cake.Issues.PullRequests.AzureDevOps

Update Cake.AzureDevOps to 5.0.0 Beta 3 (#799)
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.nuspec
  src/Cake.Issues.PullRequests.AzureDevOps.Tests/Cake.Issues.PullRequests.AzureDevOps.Tests.csproj
  src/Cake.Issues.PullRequests.AzureDevOps/Cake.Issues.PullRequests.AzureDevOps.csproj
Due: Cake.Issues.PullRequests.AzureDevOps

Update Cake.AzureDevOps to 5.0.0
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.nuspec
  src/Cake.Issues.PullRequests.AzureDevOps.Tests/Cake.Issues.PullRequests.AzureDevOps.Tests.csproj
  src/Cake.Issues.PullRequests.AzureDevOps/Cake.Issues.PullRequests.AzureDevOps.csproj
Due: Cake.Issues.PullRequests.AzureDevOps
