Repository cake-contrib/Cake.Issues: changes, and which Codecov flags are due for each by the changed paths.
All: Cake.Issues, Cake.Issues.DocFx, Cake.Issues.EsLint, Cake.Issues.GitRepository, Cake.Issues.InspectCode, Cake.Issues.Markdownlint, Cake.Issues.MsBuild, Cake.Issues.PullRequests, Cake.Issues.PullRequests.AppVeyor, Cake.Issues.PullRequests.AzureDevOps, Cake.Issues.PullRequests.GitHubActions, Cake.Issues.Reporting, Cake.Issues.Reporting.Console, Cake.Issues.Reporting.Generic, Cake.Issues.Reporting.Sarif, Cake.Issues.Sarif, Cake.Issues.Terraform, Cake.Issues.Testing

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment
  
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: cake_issues
      name: Cake.Issues
      paths:
        - src/Cake.Issues/**
    - component_id: cake_issues_docfx
      name: Cake.Issues.DocFx
      paths:
        - src/Cake.Issues.DocFx/**
    - component_id: cake_issues_eslint
      name: Cake.Issues.EsLint
      paths:
        - src/Cake.Issues.EsLint/**
    - component_id: cake_issues_gitrepository
      name: Cake.Issues.GitRepository
      paths:
        - src/Cake.Issues.GitRepository/**
    - component_id: cake_issues_inspectcode
      name: Cake.Issues.InspectCode
      paths:
        - src/Cake.Issues.InspectCode/**
    - component_id: cake_issues_markdownlint
      name: Cake.Issues.Markdownlint
      paths:
        - src/Cake.Issues.Markdownlint/**
    - component_id: cake_issues_msbuild
      name: Cake.Issues.MsBuild
      paths:
        - src/Cake.Issues.MsBuild/**
    - component_id: cake_issues_pullrequests
      name: Cake.Issues.PullRequests
      paths:
        - src/Cake.Issues.PullRequests/**
    - component_id: cake_issues_pullrequests_appveyor
      name: Cake.Issues.PullRequests.AppVeyor
      paths:
        - src/Cake.Issues.PullRequests.AppVeyor/**
    - component_id: cake_issues_pullrequests_azuredevops
      name: Cake.Issues.PullRequests.AzureDevOps
      paths:
        - src/Cake.Issues.PullRequests.AzureDevOps/**
    - component_id: cake_issues_pullrequests_githubactions
      name: Cake.Issues.PullRequests.GitHubActions
      paths:
        - src/Cake.Issues.PullRequests.GitHubActions/**
    - component_id: cake_issues_reporting
      name: Cake.Issues.Reporting
      paths:
        - src/Cake.Issues.Reporting/**
    - component_id: cake_issues_reporting_console
      name: Cake.Issues.Reporting.Console
      paths:
        - src/Cake.Issues.Reporting.Console/**
    - component_id: cake_issues_reporting_generic
      name: Cake.Issues.Reporting.Generic
      paths:
        - src/Cake.Issues.Reporting.Generic/**
    - component_id: cake_issues_reporting_sarif
      name: Cake.Issues.Reporting.Sarif
      paths:
        - src/Cake.Issues.Reporting.Sarif/**
    - component_id: cake_issues_sarif
      name: Cake.Issues.Sarif
      paths:
        - src/Cake.Issues.Sarif/**
    - component_id: cake_issues_terraform
      name: Cake.Issues.Terraform
      paths:
        - src/Cake.Issues.Terraform/**
    - component_id: cake_issues_testing
      name: Cake.Issues.Testing
      paths:
        - src/Cake.Issues.Testing/**

Update to NuGet 6.9.1
  recipe.cake
Due: none

Remove lambda expressions (IDE0200)
  src/Cake.Issues.GitRepository.Tests/GitRunnerTests.cs
  src/Cake.Issues.InspectCode.Tests/ExtensionsTests.cs
  src/Cake.Issues.PullRequests.AzureDevOps.Tests/Capabilities/CommentExtensionsTests.cs
  src/Cake.Issues.PullRequests.AzureDevOps.Tests/Capabilities/GitPullRequestCommentThreadExtensionsTests.cs
  src/Cake.Issues.PullRequests.Tests/BaseFilteringByModifiedFilesCapabilityTests.cs
  src/Cake.Issues.PullRequests.Tests/IIssueExtensionsTests.cs
  src/Cake.Issues.PullRequests.Tests/OrchestratorTests.cs
  src/Cake.Issues.Reporting.Generic.Tests/ExpandoObjectExtensionsTests.cs
  src/Cake.Issues.Tests/BaseIssueComponentTests.cs
  src/Cake.Issues.Tests/BaseIssueProviderTests.cs
  src/Cake.Issues.Tests/ByteArrayExtensionsTests.cs
  src/Cake.Issues.Tests/IIssueExtensionsTests.cs
  src/Cake.Issues.Tests/IssueReaderTests.cs
  src/Cake.Issues.Tests/Serialization/IssueDeserializationExtensionsTests.cs
  src/Cake.Issues.Tests/Serialization/IssueSerializationExtensionsTests.cs
  src/Cake.Issues.Tests/Serialization/SerializableIssueExtensionsTests.cs
  src/Cake.Issues.Tests/Serialization/SerializableIssueV2ExtensionsTests.cs
  src/Cake.Issues.Tests/Serialization/SerializableIssueV3ExtensionsTests.cs
  src/Cake.Issues.Tests/Serialization/SerializableIssueV4ExtensionsTests.cs
  src/Cake.Issues.Tests/StringPathExtensionsTests.cs
  src/Cake.Issues.Tests/Testing/BaseConfigurableIssueProviderFixtureTests.cs
  src/Cake.Issues.Tests/Testing/BaseIssueProviderFixtureTests.cs
  src/Cake.Issues.Tests/Testing/BaseMultiFormatIssueProviderFixtureTests.cs
Due: none

Disable InspectCode in build
  recipe.cake
Due: none

Update release notes link
  nuspec/nuget/Cake.Frosting.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Frosting.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Frosting.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Terraform.nuspec
  nuspec/nuget/Cake.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Issues.Terraform.nuspec
  nuspec/nuget/Cake.Issues.Testing.nuspec
  nuspec/nuget/Cake.Issues.nuspec
Due: none

Remove lambda expressions (IDE0200) (#614)
  src/Cake.Issues.GitRepository.Tests/GitRunnerTests.cs
  src/Cake.Issues.InspectCode.Tests/ExtensionsTests.cs
  src/Cake.Issues.PullRequests.AzureDevOps.Tests/Capabilities/CommentExtensionsTests.cs
  src/Cake.Issues.PullRequests.AzureDevOps.Tests/Capabilities/GitPullRequestCommentThreadExtensionsTests.cs
  src/Cake.Issues.PullRequests.Tests/BaseFilteringByModifiedFilesCapabilityTests.cs
  src/Cake.Issues.PullRequests.Tests/IIssueExtensionsTests.cs
  src/Cake.Issues.PullRequests.Tests/OrchestratorTests.cs
  src/Cake.Issues.Reporting.Generic.Tests/ExpandoObjectExtensionsTests.cs
  src/Cake.Issues.Tests/BaseIssueComponentTests.cs
  src/Cake.Issues.Tests/BaseIssueProviderTests.cs
  src/Cake.Issues.Tests/ByteArrayExtensionsTests.cs
  src/Cake.Issues.Tests/IIssueExtensionsTests.cs
  src/Cake.Issues.Tests/IssueReaderTests.cs
  src/Cake.Issues.Tests/Serialization/IssueDeserializationExtensionsTests.cs
  src/Cake.Issues.Tests/Serialization/IssueSerializationExtensionsTests.cs
  src/Cake.Issues.Tests/Serialization/SerializableIssueExtensionsTests.cs
  src/Cake.Issues.Tests/Serialization/SerializableIssueV2ExtensionsTests.cs
  src/Cake.Issues.Tests/Serialization/SerializableIssueV3ExtensionsTests.cs
  src/Cake.Issues.Tests/Serialization/SerializableIssueV4ExtensionsTests.cs
  src/Cake.Issues.Tests/StringPathExtensionsTests.cs
  src/Cake.Issues.Tests/Testing/BaseConfigurableIssueProviderFixtureTests.cs
  src/Cake.Issues.Tests/Testing/BaseIssueProviderFixtureTests.cs
  src/Cake.Issues.Tests/Testing/BaseMultiFormatIssueProviderFixtureTests.cs
Due: none

Use expression body for constructors (IDE0021)
  src/.editorconfig
  src/Cake.Issues.DocFx/DocFxIssuesProvider.cs
  src/Cake.Issues.EsLint/EsLintRuleUrlResolver.cs
  src/Cake.Issues.EsLint/LogFileFormat/JsonLogFileFormat.cs
  src/Cake.Issues.GitRepository/GitRunner.cs
  src/Cake.Issues.InspectCode/InspectCodeIssuesProvider.cs
  src/Cake.Issues.MsBuild.Tests/FakeMsBuildLogFileFormat.cs
  src/Cake.Issues.MsBuild/LogFileFormat/BinaryLogFileFormat.cs
  src/Cake.Issues.PullRequests.AppVeyor.Tests/CakeContextFixture.cs
  src/Cake.Issues.PullRequests.AzureDevOps/AzureDevOpsPullRequestSystem.cs
  src/Cake.Issues.PullRequests.AzureDevOps/Capabilities/AzureDevOpsCommentThreadStatusExtensions.cs
  src/Cake.Issues.PullRequests.Tests/FakeCheckingCommitIdCapability.cs
  src/Cake.Issues.PullRequests.Tests/FakeDiscussionThreadsCapability.cs
  src/Cake.Issues.PullRequests.Tests/FakeFilteringByModifiedFilesCapability.cs
  src/Cake.Issues.PullRequests.Tests/FakePullRequestSystemBuilder.cs
  src/Cake.Issues.PullRequests.Tests/IssueFiltererFixture.cs
  src/Cake.Issues.PullRequests/IssueFilterer.cs
  src/Cake.Issues.PullRequests/Orchestrator.cs
  src/Cake.Issues.Reporting.Generic.Tests/HtmlDxDataGridTemplateTests.cs
  src/Cake.Issues.Reporting.Generic/ColumnSortOrderExtensions.cs
  src/Cake.Issues.Reporting.Generic/DevExtremeThemeExtensions.cs
  src/Cake.Issues.Reporting.Generic/GenericIssueReportFormatSettings.cs
  src/Cake.Issues.Reporting.Generic/GenericIssueReportTemplateExtensions.cs
  src/Cake.Issues.Reporting.Tests/FakeIssueReportFormat.cs
  src/Cake.Issues.Sarif/FailureLevelExtensions.cs
  src/Cake.Issues.Terraform/TerraformIssuesProvider.cs
  src/Cake.Issues.Testing/BaseConfigurableIssueProviderFixture.cs
  src/Cake.Issues.Testing/FakeConfigurableIssueProvider.cs
  src/Cake.Issues.Testing/FakeIssueProvider.cs
  src/Cake.Issues.Testing/FakeLogFileFormat.cs
  src/Cake.Issues.Testing/FakeRuleUrlResolver.cs
  src/Cake.Issues.Tests/BaseRuleUrlResolverTests.cs
  src/Cake.Issues/BaseMultiFormatIssueProvider.cs
  src/Cake.Issues/IssueBuilder.cs
Due: Cake.Issues, Cake.Issues.DocFx, Cake.Issues.EsLint, Cake.Issues.GitRepository, Cake.Issues.InspectCode, Cake.Issues.MsBuild, Cake.Issues.PullRequests, Cake.Issues.PullRequests.AzureDevOps, Cake.Issues.Reporting.Generic, Cake.Issues.Sarif, Cake.Issues.Terraform, Cake.Issues.Testing

Use expression body for constructors (IDE0021) (#613)
  src/.editorconfig
  src/Cake.Issues.DocFx/DocFxIssuesProvider.cs
  src/Cake.Issues.EsLint/EsLintRuleUrlResolver.cs
  src/Cake.Issues.EsLint/LogFileFormat/JsonLogFileFormat.cs
  src/Cake.Issues.GitRepository/GitRunner.cs
  src/Cake.Issues.InspectCode/InspectCodeIssuesProvider.cs
  src/Cake.Issues.MsBuild.Tests/FakeMsBuildLogFileFormat.cs
  src/Cake.Issues.MsBuild/LogFileFormat/BinaryLogFileFormat.cs
  src/Cake.Issues.PullRequests.AppVeyor.Tests/CakeContextFixture.cs
  src/Cake.Issues.PullRequests.AzureDevOps/AzureDevOpsPullRequestSystem.cs
  src/Cake.Issues.PullRequests.AzureDevOps/Capabilities/AzureDevOpsCommentThreadStatusExtensions.cs
  src/Cake.Issues.PullRequests.Tests/FakeCheckingCommitIdCapability.cs
  src/Cake.Issues.PullRequests.Tests/FakeDiscussionThreadsCapability.cs
  src/Cake.Issues.PullRequests.Tests/FakeFilteringByModifiedFilesCapability.cs
  src/Cake.Issues.PullRequests.Tests/FakePullRequestSystemBuilder.cs
  src/Cake.Issues.PullRequests.Tests/IssueFiltererFixture.cs
  src/Cake.Issues.PullRequests/IssueFilterer.cs
  src/Cake.Issues.PullRequests/Orchestrator.cs
  src/Cake.Issues.Reporting.Generic.Tests/HtmlDxDataGridTemplateTests.cs
  src/Cake.Issues.Reporting.Generic/ColumnSortOrderExtensions.cs
  src/Cake.Issues.Reporting.Generic/DevExtremeThemeExtensions.cs
  src/Cake.Issues.Reporting.Generic/GenericIssueReportFormatSettings.cs
  src/Cake.Issues.Reporting.Generic/GenericIssueReportTemplateExtensions.cs
  src/Cake.Issues.Reporting.Tests/FakeIssueReportFormat.cs
  src/Cake.Issues.Sarif/FailureLevelExtensions.cs
  src/Cake.Issues.Terraform/TerraformIssuesProvider.cs
  src/Cake.Issues.Testing/BaseConfigurableIssueProviderFixture.cs
  src/Cake.Issues.Testing/FakeConfigurableIssueProvider.cs
  src/Cake.Issues.Testing/FakeIssueProvider.cs
  src/Cake.Issues.Testing/FakeLogFileFormat.cs
  src/Cake.Issues.Testing/FakeRuleUrlResolver.cs
  src/Cake.Issues.Tests/BaseRuleUrlResolverTests.cs
  src/Cake.Issues/BaseMultiFormatIssueProvider.cs
  src/Cake.Issues/IssueBuilder.cs
Due: Cake.Issues, Cake.Issues.DocFx, Cake.Issues.EsLint, Cake.Issues.GitRepository, Cake.Issues.InspectCode, Cake.Issues.MsBuild, Cake.Issues.PullRequests, Cake.Issues.PullRequests.AzureDevOps, Cake.Issues.Reporting.Generic, Cake.Issues.Sarif, Cake.Issues.Terraform, Cake.Issues.Testing

Enforce no analyzer issues in build pipeline
  recipe.cake
Due: none

Enforce no analyzer issues in build pipeline (#616)
  recipe.cake
Due: none

Remove unecessary using directives (IDE0005)
  src/Cake.Issues.Markdownlint/LogFileFormat/MarkdownlintCliJsonLogFileFormat.cs
  src/Cake.Issues.PullRequests.AzureDevOps/AzureDevOpsPullRequestSystemAliases.cs
  src/Cake.Issues.Reporting.Generic.Tests/ColumnSortOrderExtensionsTests.cs
  src/Cake.Issues.Reporting.Generic.Tests/DevExtremeThemeExtensionsTests.cs
  src/Cake.Issues.Reporting.Generic.Tests/ExceptionAssertExtensions.cs
  src/Cake.Issues.Reporting.Generic/GenericIssueReportFormatAliases.cs
  src/Cake.Issues.Reporting.Generic/IIssueExtensions.cs
Due: Cake.Issues.Markdownlint, Cake.Issues.PullRequests.AzureDevOps, Cake.Issues.Reporting.Generic

Use or discard expression value (IDE0058)
  src/Cake.Issues.EsLint.Tests/ExceptionAssertExtensions.cs
  src/Cake.Issues.GitRepository/GitRunnerSettings.cs
  src/Cake.Issues.Markdownlint.Tests/MarkdownlintRuleUrlResolverTests.cs
  src/Cake.Issues.MsBuild.Tests/LogFileFormat/XmlFileLoggerLogFileFormatTests.cs
  src/Cake.Issues.MsBuild/MsBuildRuleUrlResolver.cs
  src/Cake.Issues.PullRequests.AzureDevOps/AzureDevOpsPullRequestSystem.cs
  src/Cake.Issues.PullRequests.Tests/BaseDiscussionThreadsCapabilityTests.cs
  src/Cake.Issues.PullRequests.Tests/BaseFilteringByModifiedFilesCapabilityTests.cs
  src/Cake.Issues.PullRequests.Tests/ExceptionAssertExtensions.cs
  src/Cake.Issues.PullRequests.Tests/IssueFiltererFixture.cs
  src/Cake.Issues.PullRequests.Tests/IssueFiltererTests.cs
  src/Cake.Issues.PullRequests.Tests/OrchestratorTests.cs
  src/Cake.Issues.Reporting.Console.Tests/ConsoleIssueReportFixture.cs
  src/Cake.Issues.Reporting.Console/ConsoleIssueReportGenerator.cs
  src/Cake.Issues.Reporting.Generic.Tests/ExceptionAssertExtensions.cs
  src/Cake.Issues.Reporting.Generic.Tests/GenericIssueReportFixture.cs
  src/Cake.Issues.Reporting.Generic.Tests/GenericIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Generic.Tests/HtmlDxDataGridTemplateTests.cs
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportFixture.cs
  src/Cake.Issues.Reporting.Tests/IssueReportCreatorTests.cs
  src/Cake.Issues.Reporting.Tests/IssueReportFormatTests.cs
  src/Cake.Issues.Testing/BaseIssueProviderFixture.cs
  src/Cake.Issues.Tests/BaseIssueComponentTests.cs
  src/Cake.Issues.Tests/BaseMultiFormatIssueProviderTests.cs
  src/Cake.Issues.Tests/FileLinking/FileLinkOptionalSettingsBuilderTests.cs
  src/Cake.Issues.Tests/IssueReaderTests.cs
  src/Cake.Issues.Tests/IssueTests.cs
  src/Cake.Issues.Tests/Serialization/IssueDeserializationExtensionsTests.cs
  src/Cake.Issues.Tests/Testing/BaseConfigurableIssueProviderFixtureTests.cs
  src/Cake.Issues.Tests/Testing/BaseIssueProviderFixtureTests.cs
  src/Cake.Issues.Tests/Testing/BaseMultiFormatIssueProviderFixtureTests.cs
  src/Cake.Issues.Tests/Testing/ExceptionAssertExtensionsTests.cs
  src/Cake.Issues.Tests/Testing/IssueCheckerFixture.cs
  src/Cake.Issues.Tests/Testing/IssueCheckerTests.cs
  src/Cake.Issues/IssueBuilder.cs
Due: Cake.Issues, Cake.Issues.GitRepository, Cake.Issues.MsBuild, Cake.Issues.PullRequests.AzureDevOps, Cake.Issues.Reporting.Console, Cake.Issues.Testing

Remove unecessary parantheses and use pattern matching (IDE0047)
  src/Cake.Issues.GitRepository/GitRepositoryIssuesProvider.cs
Due: Cake.Issues.GitRepository

Fix formatting (IDE0055)
  src/Cake.Issues.PullRequests.Tests/IssueFiltererTests.cs
  src/Cake.Issues.PullRequests/Orchestrator.cs
  src/Cake.Issues.Reporting.Console.Tests/ConsoleIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
  src/Cake.Issues/IIssue.cs
  src/Cake.Issues/IssuesArgumentChecks.cs
Due: Cake.Issues, Cake.Issues.PullRequests, Cake.Issues.Reporting.Sarif

Add default switch case (IDE0010)
  src/Cake.Issues.PullRequests.AzureDevOps/AzureDevOpsPullRequestSystem.cs
Due: Cake.Issues.PullRequests.AzureDevOps

Simplify "if" statements (IDE0046)
  src/Cake.Issues.EsLint/LogFileFormat/JsonLogFileFormat.cs
  src/Cake.Issues.InspectCode/InspectCodeIssuesProvider.cs
  src/Cake.Issues.Markdownlint/LogFileFormat/MarkdownlintCliJsonLogFileFormat.cs
  src/Cake.Issues.MsBuild/LogFileFormat/BinaryLogFileFormat.cs
  src/Cake.Issues.PullRequests.AppVeyor/IIssueExtensions.cs
  src/Cake.Issues.PullRequests.AzureDevOps/Capabilities/AzureDevOpsCheckingCommitIdCapability.cs
  src/Cake.Issues.Reporting.Generic.Tests/GenericIssueReportFormatSettingsTests.cs
  src/Cake.Issues.Reporting.Generic/IdeIntegrationSettings.cs
  src/Cake.Issues.Reporting.Generic/ViewBagHelper.cs
  src/Cake.Issues.Reporting.Sarif/IIssueExtensions.cs
  src/Cake.Issues.Terraform/TerraformIssuesProvider.cs
  src/Cake.Issues.Testing/BaseConfigurableIssueProviderFixture.cs
  src/Cake.Issues.Testing/BaseIssueProviderFixture.cs
  src/Cake.Issues.Testing/ExceptionAssertExtensions.cs
  src/Cake.Issues/BaseRuleUrlResolver.cs
  src/Cake.Issues/ByteArrayExtensions.cs
  src/Cake.Issues/IIssueComparer.cs
  src/Cake.Issues/IssueBuilder.cs
  src/Cake.Issues/StringPathExtensions.cs
Due: Cake.Issues, Cake.Issues.EsLint, Cake.Issues.InspectCode, Cake.Issues.Markdownlint, Cake.Issues.MsBuild, Cake.Issues.PullRequests.AppVeyor, Cake.Issues.PullRequests.AzureDevOps, Cake.Issues.Reporting.Generic, Cake.Issues.Reporting.Sarif, Cake.Issues.Terraform, Cake.Issues.Testing

Remove unnecessary assignments (IDE0059)
  src/Cake.Issues.Reporting.Console.Tests/ConsoleIssueReportGeneratorTests.cs
Due: none

Mark JSON strings (JSON002)
  src/Cake.Issues.Reporting.Generic.Tests/ExpandoObjectExtensionsTests.cs
  src/Cake.Issues.Tests/Serialization/IssueDeserializationExtensionsTests.cs
Due: none

Simplify new expression (IDE0090)
  src/Cake.Issues.PullRequests.AppVeyor.Tests/CakeContextFixture.cs
  src/Cake.Issues.Reporting.Generic/GenericIssueReportFormatSettings.cs
  src/Cake.Issues.Reporting.Tests/FakeIssueReportFormat.cs
  src/Cake.Issues/IssueBuilder.cs
Due: Cake.Issues, Cake.Issues.Reporting.Generic

Simplify name (IDE0001)
  src/Cake.Issues.Tests/IssueReaderTests.cs
Due: none

Simplify collection initialization (IDE0028)
  src/Cake.Issues.EsLint/LogFileFormat/JsonLogFileFormat.cs
  src/Cake.Issues.Markdownlint/LogFileFormat/MarkdownlintCliJsonLogFileFormat.cs
  src/Cake.Issues.PullRequests.AzureDevOps.Tests/Capabilities/GitPullRequestCommentThreadExtensionsTests.cs
  src/Cake.Issues.PullRequests.AzureDevOps/AzureDevOpsPullRequestSystem.cs
  src/Cake.Issues.PullRequests.Tests/BaseDiscussionThreadsCapabilityTests.cs
  src/Cake.Issues.PullRequests.Tests/BasePullRequestSystemTests.cs
  src/Cake.Issues.PullRequests.Tests/IssueFiltererTests.cs
  src/Cake.Issues.PullRequests.Tests/OrchestratorForIssueProvidersFixture.cs
  src/Cake.Issues.PullRequests.Tests/OrchestratorTests.cs
  src/Cake.Issues.PullRequests.Tests/PullRequestDiscussionThreadTests.cs
  src/Cake.Issues.PullRequests.Tests/PullRequestIssueResultTests.cs
  src/Cake.Issues.PullRequests/Aliases.cs
  src/Cake.Issues.PullRequests/Orchestrator.cs
  src/Cake.Issues.Reporting.Console/IssueDiagnostic.cs
  src/Cake.Issues.Reporting.Generic.Tests/GenericIssueReportFixture.cs
  src/Cake.Issues.Reporting.Generic.Tests/GenericIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Generic.Tests/HtmlDxDataGridTemplateTests.cs
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportFixture.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
  src/Cake.Issues.Reporting.Tests/IssueReportFormatTests.cs
  src/Cake.Issues.Reporting/Aliases.cs
  src/Cake.Issues.Testing/BaseConfigurableIssueProviderFixture.cs
  src/Cake.Issues.Testing/BaseIssueProviderFixture.cs
  src/Cake.Issues.Tests/BaseMultiFormatIssueProviderTests.cs
  src/Cake.Issues.Tests/IssueReaderTests.cs
  src/Cake.Issues.Tests/IssuesFixture.cs
  src/Cake.Issues.Tests/Testing/BaseIssueProviderFixtureTests.cs
  src/Cake.Issues/Aliases.ReadIssues.cs
Due: Cake.Issues, Cake.Issues.EsLint, Cake.Issues.Markdownlint, Cake.Issues.PullRequests, Cake.Issues.PullRequests.AzureDevOps, Cake.Issues.Reporting, Cake.Issues.Reporting.Console, Cake.Issues.Reporting.Sarif, Cake.Issues.Testing

Update documentation
  docs/overview.md
Due: none

Use expression body for local functions (IDE0061)
  src/Cake.Issues.Reporting.Generic.Tests/HtmlDxDataGridColumnDescriptionTests.cs
Due: none

Explicitely handle undefined message format
  src/Cake.Issues/IIssueExtensions.cs
Due: Cake.Issues

Supress messages
  src/Cake.Issues.PullRequests.AppVeyor.Tests/AppVeyorBuildSettingsTests.cs
Due: none

Use expression body for method
  src/Cake.Issues.Tests/IssuesArgumentChecksTests.cs
Due: none

Simplify substring (IDE0057)
  src/Cake.Issues.Reporting.Generic/StringExtensions.cs
Due: Cake.Issues.Reporting.Generic

Enforce IDE diagnostics
  src/.editorconfig
  src/Directory.Build.props
Due: none

Enable documentation XML for test projects
  src/Cake.Issues.Tests.ruleset
  src/Directory.Build.props
Due: none

Fix collection initialization can be simplified (IDE0028)
  src/Cake.Issues.Reporting.Console.Tests/ConsoleIssueReportFixture.cs
  src/Cake.Issues.Reporting.Console.Tests/ConsoleIssueReportGeneratorTests.cs
Due: none

Remove unnecessary ToArray (IDE0305)
  src/Cake.Issues.Sarif/SarifIssuesProvider.cs
Due: Cake.Issues.Sarif

Use CRLF for *.cs files
  .gitattributes
Due: none
