Repository cake-contrib/Cake.Issues: changes, and which Codecov flags are due for each by the changed paths.
All: Cake.Issues, Cake.Issues.DocFx, Cake.Issues.EsLint, Cake.Issues.GitRepository, Cake.Issues.InspectCode, Cake.Issues.Markdownlint, Cake.Issues.MsBuild, Cake.Issues.PullRequests, Cake.Issues.PullRequests.AppVeyor, Cake.Issues.PullRequests.AzureDevOps, Cake.Issues.PullRequests.GitHubActions, Cake.Issues.Reporting, Cake.Issues.Reporting.Console, Cake.Issues.Reporting.Generic, Cake.Issues.Reporting.Sarif, Cake.Issues.Sarif, Cake.Issues.Terraform, Cake.Issues.Testing

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment
  
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: cake_issues
      name: Cake.Issues
      paths:
        - src/Cake.Issues/**
    - component_id: cake_issues_docfx
      name: Cake.Issues.DocFx
      paths:
        - src/Cake.Issues.DocFx/**
    - component_id: cake_issues_eslint
      name: Cake.Issues.EsLint
      paths:
        - src/Cake.Issues.EsLint/**
    - component_id: cake_issues_gitrepository
      name: Cake.Issues.GitRepository
      paths:
        - src/Cake.Issues.GitRepository/**
    - component_id: cake_issues_inspectcode
      name: Cake.Issues.InspectCode
      paths:
        - src/Cake.Issues.InspectCode/**
    - component_id: cake_issues_markdownlint
      name: Cake.Issues.Markdownlint
      paths:
        - src/Cake.Issues.Markdownlint/**
    - component_id: cake_issues_msbuild
      name: Cake.Issues.MsBuild
      paths:
        - src/Cake.Issues.MsBuild/**
    - component_id: cake_issues_pullrequests
      name: Cake.Issues.PullRequests
      paths:
        - src/Cake.Issues.PullRequests/**
    - component_id: cake_issues_pullrequests_appveyor
      name: Cake.Issues.PullRequests.AppVeyor
      paths:
        - src/Cake.Issues.PullRequests.AppVeyor/**
    - component_id: cake_issues_pullrequests_azuredevops
      name: Cake.Issues.PullRequests.AzureDevOps
      paths:
        - src/Cake.Issues.PullRequests.AzureDevOps/**
    - component_id: cake_issues_pullrequests_githubactions
      name: Cake.Issues.PullRequests.GitHubActions
      paths:
        - src/Cake.Issues.PullRequests.GitHubActions/**
    - component_id: cake_issues_reporting
      name: Cake.Issues.Reporting
      paths:
        - src/Cake.Issues.Reporting/**
    - component_id: cake_issues_reporting_console
      name: Cake.Issues.Reporting.Console
      paths:
        - src/Cake.Issues.Reporting.Console/**
    - component_id: cake_issues_reporting_generic
      name: Cake.Issues.Reporting.Generic
      paths:
        - src/Cake.Issues.Reporting.Generic/**
    - component_id: cake_issues_reporting_sarif
      name: Cake.Issues.Reporting.Sarif
      paths:
        - src/Cake.Issues.Reporting.Sarif/**
    - component_id: cake_issues_sarif
      name: Cake.Issues.Sarif
      paths:
        - src/Cake.Issues.Sarif/**
    - component_id: cake_issues_terraform
      name: Cake.Issues.Terraform
      paths:
        - src/Cake.Issues.Terraform/**
    - component_id: cake_issues_testing
      name: Cake.Issues.Testing
      paths:
        - src/Cake.Issues.Testing/**

Deployed 20d06e41 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/assets/images/social/news/category/release-notes/page/2.png
  develop/assets/images/social/news/category/release-notes/page/3.png
  develop/assets/images/social/news/category/release-notes/page/4.png
  develop/sitemap.xml
  develop/sitemap.xml.gz
Due: none

Add build breaking alias with settings to limit to priority and issue provider types
  src/Cake.Issues.Tests/BuildBreakerTests.cs
  src/Cake.Issues/Aliases.BuildBreaking.cs
  src/Cake.Issues/BuildBreaker.cs
  src/Cake.Issues/BuildBreakingSettings.cs
Due: Cake.Issues

Add build breaking alias with settings to limit to priority and issue provider types (#967)
  src/Cake.Issues.Tests/BuildBreakerTests.cs
  src/Cake.Issues/Aliases.BuildBreaking.cs
  src/Cake.Issues/BuildBreaker.cs
  src/Cake.Issues/BuildBreakingSettings.cs
Due: Cake.Issues

Ignore suppressed issues by default
  docs/input/documentation/issue-providers/sarif/features.md
  src/Cake.Issues.Sarif.Tests/SarifIssuesProviderFixture.cs
  src/Cake.Issues.Sarif.Tests/SarifIssuesProviderTests.cs
  src/Cake.Issues.Sarif.Tests/Testfiles/suppression-accepted.sarif
  src/Cake.Issues.Sarif.Tests/Testfiles/suppression-rejected.sarif
  src/Cake.Issues.Sarif.Tests/Testfiles/suppression-under-review.sarif
  src/Cake.Issues.Sarif.Tests/Testfiles/suppression-without-status.sarif
  src/Cake.Issues.Sarif/SarifIssuesProvider.cs
  src/Cake.Issues.Sarif/SarifIssuesSettings.cs
Due: Cake.Issues.Sarif

Ignore suppressed issues by default (#964)
  docs/input/documentation/issue-providers/sarif/features.md
  src/Cake.Issues.Sarif.Tests/SarifIssuesProviderFixture.cs
  src/Cake.Issues.Sarif.Tests/SarifIssuesProviderTests.cs
  src/Cake.Issues.Sarif.Tests/Testfiles/suppression-accepted.sarif
  src/Cake.Issues.Sarif.Tests/Testfiles/suppression-rejected.sarif
  src/Cake.Issues.Sarif.Tests/Testfiles/suppression-under-review.sarif
  src/Cake.Issues.Sarif.Tests/Testfiles/suppression-without-status.sarif
  src/Cake.Issues.Sarif/SarifIssuesProvider.cs
  src/Cake.Issues.Sarif/SarifIssuesSettings.cs
Due: Cake.Issues.Sarif

Deployed 26a95b35 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/documentation/issue-providers/sarif/features/index.html
  develop/search/search_index.json
Due: none

Add jscpd to list of supported tools
  docs/input/documentation/assets/tables/supported-tools-copypaste.csv
  docs/input/documentation/assets/tables/supported-tools-dotnet.csv
  docs/input/documentation/supported-tools.md
Due: none

Add jscpd to list of supported tools (#968)
  docs/input/documentation/assets/tables/supported-tools-copypaste.csv
  docs/input/documentation/assets/tables/supported-tools-dotnet.csv
  docs/input/documentation/supported-tools.md
Due: none

Update version in examples
  docs/mkdocs.yml
Due: none

Update release notes link
  nuspec/nuget/Cake.Frosting.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Frosting.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Frosting.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Tap.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Terraform.nuspec
  nuspec/nuget/Cake.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Issues.Tap.nuspec
  nuspec/nuget/Cake.Issues.Terraform.nuspec
  nuspec/nuget/Cake.Issues.Testing.nuspec
  nuspec/nuget/Cake.Issues.nuspec
Due: none

Add news entry
  docs/input/news/posts/2025-01-09-cake-issues-v5.2.0-released.md
Due: none

Add new configuration options for Cake.Issues.Recipe
  docs/input/documentation/recipe/configuration.md
Due: none

Deployed 331cc983 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/documentation/assets/tables/supported-tools-copypaste.csv
  develop/documentation/assets/tables/supported-tools-dotnet.csv
  develop/documentation/supported-tools/index.html
  develop/search/search_index.json
Due: none

Remove commented out code
  src/Cake.Issues.Tap.Tests/TapIssuesProviderTests.cs
Due: none

Use build breaking alias
  recipe.cake
Due: none

Remove commented out code (#972)
  src/Cake.Issues.Tap.Tests/TapIssuesProviderTests.cs
Due: none

Add test case for Stylelint message containing double quote
  src/Cake.Issues.Tap.Tests/LogFileFormat/StylelintLogFileFormatTests.cs
  src/Cake.Issues.Tap.Tests/Testfiles/StylelintLogFileFormat/double-quotes-in-message.tap
Due: none

Add YAML sanitation to parser
  src/Cake.Issues.Tap/Parser/TapParser.cs
Due: none

Deployed d17a93de to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/assets/images/social/news/category/release-notes/page/2.png
  develop/assets/images/social/news/category/release-notes/page/3.png
  develop/assets/images/social/news/category/release-notes/page/4.png
Due: none

Try to sanitize invalid YAML containing unescaped double quotes (#970)
  src/Cake.Issues.Tap.Tests/LogFileFormat/StylelintLogFileFormatTests.cs
  src/Cake.Issues.Tap.Tests/Testfiles/StylelintLogFileFormat/double-quotes-in-message.tap
  src/Cake.Issues.Tap/Parser/TapParser.cs
Due: none

Deployed 92bd914c to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Due: none

Add test case for absolute paths
  src/Cake.Issues.Tap.Tests/LogFileFormat/StylelintLogFileFormatTests.cs
  src/Cake.Issues.Tap.Tests/TapIssuesProviderFixture.cs
  src/Cake.Issues.Tap.Tests/Testfiles/StylelintLogFileFormat/absolute-linux-path.tap
  src/Cake.Issues.Tap.Tests/Testfiles/StylelintLogFileFormat/absolute-windows-path.tap
Due: none

Support absolute paths
  src/Cake.Issues.Tap/BaseTapLogFileFormat.cs
  src/Cake.Issues.Tap/LogFileFormat/StylelintLogFileFormat.cs
Due: none

Support absolute paths in TAP stylelint format (#974)
  src/Cake.Issues.Tap.Tests/LogFileFormat/StylelintLogFileFormatTests.cs
  src/Cake.Issues.Tap.Tests/TapIssuesProviderFixture.cs
  src/Cake.Issues.Tap.Tests/Testfiles/StylelintLogFileFormat/absolute-linux-path.tap
  src/Cake.Issues.Tap.Tests/Testfiles/StylelintLogFileFormat/absolute-windows-path.tap
  src/Cake.Issues.Tap/BaseTapLogFileFormat.cs
  src/Cake.Issues.Tap/LogFileFormat/StylelintLogFileFormat.cs
Due: none

Deployed 35af0035 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/assets/images/social/news/category/release-notes/page/2.png
  develop/assets/images/social/news/category/release-notes/page/3.png
  develop/assets/images/social/news/category/release-notes/page/4.png
Due: none

Deployed ed9d0108 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/assets/images/social/news/category/release-notes/page/2.png
  develop/assets/images/social/news/category/release-notes/page/3.png
  develop/assets/images/social/news/category/release-notes/page/4.png
Due: none

Ignore files from outside the repository
  src/Cake.Issues.Tap.Tests/LogFileFormat/StylelintLogFileFormatTests.cs
  src/Cake.Issues.Tap/BaseTapLogFileFormat.cs
  src/Cake.Issues.Tap/LogFileFormat/StylelintLogFileFormat.cs
Due: none

Ignore files from outside the repository (#977)
  src/Cake.Issues.Tap.Tests/LogFileFormat/StylelintLogFileFormatTests.cs
  src/Cake.Issues.Tap/BaseTapLogFileFormat.cs
  src/Cake.Issues.Tap/LogFileFormat/StylelintLogFileFormat.cs
Due: none

Add news entry
  docs/input/news/posts/2025-01-10-cake-issues-v5.3.0-released.md
Due: none

Deployed 6e1456f4 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/assets/images/social/news/category/release-notes/page/5.png
  develop/assets/images/social/news/posts/2025-01-10-cake-issues-v5.3.0-released.png
  develop/documentation/issue-providers/docfx/examples/index.html
  develop/documentation/issue-providers/gitrepository/examples/index.html
  develop/documentation/issue-providers/inspectcode/examples/index.html
  develop/documentation/issue-providers/markdownlint/examples/index.html
  develop/documentation/issue-providers/msbuild/examples/index.html
  develop/documentation/pull-request-systems/appveyor/examples/write-messages/index.html
  develop/documentation/pull-request-systems/azure-devops/examples/azure-pipelines/index.html
  develop/documentation/pull-request-systems/azure-devops/examples/pullrequest-id/index.html
  develop/documentation/pull-request-systems/azure-devops/examples/repository-information/index.html
  develop/documentation/pull-request-systems/github-actions/examples/write-annotations/index.html
  develop/documentation/recipe/index.html
  develop/documentation/report-formats/console/examples/index.html
  develop/documentation/report-formats/generic/examples/default-template/index.html
  develop/documentation/report-formats/sarif/examples/index.html
  develop/documentation/usage/breaking-builds/breaking-builds/index.html
  develop/documentation/usage/creating-issues/creating-issues/index.html
  develop/documentation/usage/creating-reports/creating-reports/index.html
  develop/documentation/usage/reading-issues/reading-issues/index.html
  develop/documentation/usage/recipe/using-cake-frosting-issues-recipe/index.html
  develop/documentation/usage/recipe/using-cake-issues-recipe/index.html
  develop/documentation/usage/reporting-issues-to-pull-requests/custom-issue-filter/index.html
  develop/documentation/usage/reporting-issues-to-pull-requests/report-issues-to-pull-requests/index.html
  develop/news/2025/01/09/cake-issues-v520-released/index.html
  develop/news/2025/01/10/cake-issues-v530-released/index.html
  develop/news/archive/2025/index.html
  develop/news/category/release-notes/index.html
  develop/news/category/release-notes/page/2/index.html
  develop/news/category/release-notes/page/3/index.html
  develop/news/category/release-notes/page/4/index.html
  develop/news/category/release-notes/page/5/index.html
  develop/news/index.html
  develop/news/page/2/index.html
  develop/news/page/3/index.html
  develop/news/page/4/index.html
  develop/news/page/5/index.html
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Due: none

Add possibility to pass handler to build breaking aliases
  src/Cake.Issues.Tests/BuildBreakerTests.cs
  src/Cake.Issues/Aliases.BuildBreaking.cs
  src/Cake.Issues/BuildBreaker.cs
Due: Cake.Issues

Add possibility to pass handler to build breaking aliases (#982)
  src/Cake.Issues.Tests/BuildBreakerTests.cs
  src/Cake.Issues/Aliases.BuildBreaking.cs
  src/Cake.Issues/BuildBreaker.cs
Due: Cake.Issues

Deployed 16d503be to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Due: none

Update GitRepositoryProvider rule URL to new website
  src/Cake.Issues.GitRepository.Tests/IssueBuilderExtensionsTests.cs
  src/Cake.Issues.GitRepository/GitRepositoryIssuesProvider.cs
  src/Cake.Issues.GitRepository/IssueBuilderExtensions.cs
Due: Cake.Issues.GitRepository
