Repository cake-contrib/Cake.Issues: changes, and which Codecov flags are due for each by the changed paths.
All: Cake.Issues, Cake.Issues.DocFx, Cake.Issues.EsLint, Cake.Issues.GitRepository, Cake.Issues.InspectCode, Cake.Issues.Markdownlint, Cake.Issues.MsBuild, Cake.Issues.PullRequests, Cake.Issues.PullRequests.AppVeyor, Cake.Issues.PullRequests.AzureDevOps, Cake.Issues.PullRequests.GitHubActions, Cake.Issues.Reporting, Cake.Issues.Reporting.Console, Cake.Issues.Reporting.Generic, Cake.Issues.Reporting.Sarif, Cake.Issues.Sarif, Cake.Issues.Terraform, Cake.Issues.Testing

Use collection expression
  src/Cake.Issues.Reporting.Generic.Tests/DevExtremeThemeExtensionsTests.cs
Due: none

Use object initializer
  src/Cake.Issues.Reporting.Console.Tests/ConsoleIssueReportGeneratorTests.cs
Due: none

Make property get only
  src/Cake.Issues.GitRepository/GitRepositoryIssuesProvider.cs
Due: Cake.Issues.GitRepository

Remove empty statement
  src/Cake.Issues.Reporting.Generic/Templates/DataTable.cshtml
Due: Cake.Issues.Reporting.Generic

Use TryAdd
  src/Cake.Issues/IssueBuilder.cs
Due: Cake.Issues

Join local variale declaration and assignment
  src/Cake.Issues.Markdownlint/LogFileFormat/MarkdownlintCliLogFileFormat.cs
Due: Cake.Issues.Markdownlint

Suppress inconsistent naming violations
  src/Cake.Issues.DocFx/LogEntryDataContract.cs
  src/Cake.Issues.EsLint/EsLintDataContracts.cs
  src/Cake.Issues.Markdownlint/IssueDataContract.cs
  src/Cake.Issues.Markdownlint/LogFileFormat/MarkdownlintCliJsonLogFileFormat.cs
  src/Cake.Issues.Terraform/ValidateOutputDataContract.cs
Due: Cake.Issues.DocFx, Cake.Issues.EsLint, Cake.Issues.Markdownlint, Cake.Issues.Terraform

Fix StyleCop issues
  src/Cake.Issues.GitRepository/GitRepositoryIssuesProvider.cs
  src/Cake.Issues.Reporting.Console/IssueDiagnostic.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.GitRepository, Cake.Issues.Reporting.Console, Cake.Issues.Reporting.Sarif

Fix typos in identifiers
  src/Cake.Issues.PullRequests.Tests/IIssueExtensionsTests.cs
  src/Cake.Issues.PullRequests.Tests/OrchestratorTests.cs
  src/Cake.Issues.PullRequests/IIssueExtensions.cs
  src/Cake.Issues.PullRequests/IssueFilterer.cs
  src/Cake.Issues.Reporting.Console/IssueDiagnostic.cs
  src/Cake.Issues.Sarif.Tests/SarifIssuesProviderTests.cs
Due: Cake.Issues.PullRequests, Cake.Issues.Reporting.Console

Fix typos in identifiers (#590)
  src/Cake.Issues.PullRequests.Tests/IIssueExtensionsTests.cs
  src/Cake.Issues.PullRequests.Tests/OrchestratorTests.cs
  src/Cake.Issues.PullRequests/IIssueExtensions.cs
  src/Cake.Issues.PullRequests/IssueFilterer.cs
  src/Cake.Issues.Reporting.Console/IssueDiagnostic.cs
  src/Cake.Issues.Sarif.Tests/SarifIssuesProviderTests.cs
Due: Cake.Issues.PullRequests, Cake.Issues.Reporting.Console

Use wildcard for embedded test files
  src/Cake.Issues.DocFx.Tests/Cake.Issues.DocFx.Tests.csproj
  src/Cake.Issues.EsLint.Tests/Cake.Issues.EsLint.Tests.csproj
  src/Cake.Issues.InspectCode.Tests/Cake.Issues.InspectCode.Tests.csproj
  src/Cake.Issues.Markdownlint.Tests/Cake.Issues.Markdownlint.Tests.csproj
  src/Cake.Issues.Reporting.Console.Tests/Cake.Issues.Reporting.Console.Tests.csproj
  src/Cake.Issues.Sarif.Tests/Cake.Issues.Sarif.Tests.csproj
  src/Cake.Issues.Sarif.Tests/Testfiles/rule-metadata-1.json
  src/Cake.Issues.Terraform.Tests/Cake.Issues.Terraform.Tests.csproj
  src/Cake.Issues.Tests/Cake.Issues.Tests.csproj
Due: none

Use wildcard for embedded test files (#592)
  src/Cake.Issues.DocFx.Tests/Cake.Issues.DocFx.Tests.csproj
  src/Cake.Issues.EsLint.Tests/Cake.Issues.EsLint.Tests.csproj
  src/Cake.Issues.InspectCode.Tests/Cake.Issues.InspectCode.Tests.csproj
  src/Cake.Issues.Markdownlint.Tests/Cake.Issues.Markdownlint.Tests.csproj
  src/Cake.Issues.Reporting.Console.Tests/Cake.Issues.Reporting.Console.Tests.csproj
  src/Cake.Issues.Sarif.Tests/Cake.Issues.Sarif.Tests.csproj
  src/Cake.Issues.Sarif.Tests/Testfiles/rule-metadata-1.json
  src/Cake.Issues.Terraform.Tests/Cake.Issues.Terraform.Tests.csproj
  src/Cake.Issues.Tests/Cake.Issues.Tests.csproj
Due: none

Add missing description to Cake.Issues.MsBuild assembly
  src/Cake.Issues.MsBuild.Tests/Cake.Issues.MsBuild.Tests.csproj
Due: none

Add missing description to Cake.Issues.MsBuild assembly (#593)
  src/Cake.Issues.MsBuild.Tests/Cake.Issues.MsBuild.Tests.csproj
Due: none

Remove no longer required test service
  src/Cake.Issues.DocFx.Tests/Cake.Issues.DocFx.Tests.csproj
Due: none

Remove no longer required test service (#594)
  src/Cake.Issues.DocFx.Tests/Cake.Issues.DocFx.Tests.csproj
Due: none

Improve comment
  src/Cake.Issues/Aliases.NewIssue.cs
Due: Cake.Issues

Suppress RedundantTypeDeclarationBody
  src/Cake.Issues.EsLint/BaseEsLintLogFileFormat.cs
  src/Cake.Issues.EsLint/EsLintIssuesAliases.cs
  src/Cake.Issues.Markdownlint/BaseMarkdownlintLogFileFormat.cs
  src/Cake.Issues.Markdownlint/MarkdownlintIssuesAliases.cs
  src/Cake.Issues.MsBuild/MsBuildIssuesAliases.cs
  src/Cake.Issues.PullRequests/IPullRequestSystemCapability.cs
  src/Cake.Issues.PullRequests/IReportIssuesToPullRequestFromIssueProviderSettings.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportFormatSettings.cs
  src/Cake.Issues.Reporting/ICreateIssueReportFromIssueProviderSettings.cs
  src/Cake.Issues.Testing/AssertionMethodAttribute.cs
  src/Cake.Issues.Testing/FakeRuleDescription.cs
  src/Cake.Issues/Aliases.cs
  src/Cake.Issues/ValidatedNotNullAttribute.cs
Due: Cake.Issues, Cake.Issues.EsLint, Cake.Issues.Markdownlint, Cake.Issues.MsBuild, Cake.Issues.PullRequests, Cake.Issues.Reporting, Cake.Issues.Reporting.Sarif, Cake.Issues.Testing

Suppress UnusedType.Local
  src/Cake.Issues.Tests/BaseRuleUrlResolverTests.cs
Due: none

Extend spelling dictionary
  src/Cake.Issues.sln.DotSettings
Due: none

Handle possible null reference exception
  src/Cake.Issues.Terraform/TerraformIssuesProvider.cs
  src/Cake.Issues.Testing/BaseIssueProviderFixture.cs
  src/Cake.Issues/Serialization/IssueDeserializationExtensions.cs
Due: Cake.Issues, Cake.Issues.Terraform, Cake.Issues.Testing

Fix linting issues (#597)
  src/Cake.Issues.EsLint/BaseEsLintLogFileFormat.cs
  src/Cake.Issues.EsLint/EsLintIssuesAliases.cs
  src/Cake.Issues.Markdownlint/BaseMarkdownlintLogFileFormat.cs
  src/Cake.Issues.Markdownlint/MarkdownlintIssuesAliases.cs
  src/Cake.Issues.MsBuild/MsBuildIssuesAliases.cs
  src/Cake.Issues.PullRequests/IPullRequestSystemCapability.cs
  src/Cake.Issues.PullRequests/IReportIssuesToPullRequestFromIssueProviderSettings.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportFormatSettings.cs
  src/Cake.Issues.Reporting/ICreateIssueReportFromIssueProviderSettings.cs
  src/Cake.Issues.Terraform/TerraformIssuesProvider.cs
  src/Cake.Issues.Testing/AssertionMethodAttribute.cs
  src/Cake.Issues.Testing/BaseIssueProviderFixture.cs
  src/Cake.Issues.Testing/FakeRuleDescription.cs
  src/Cake.Issues.Tests/BaseRuleUrlResolverTests.cs
  src/Cake.Issues.sln.DotSettings
  src/Cake.Issues/Aliases.NewIssue.cs
  src/Cake.Issues/Aliases.cs
  src/Cake.Issues/Serialization/IssueDeserializationExtensions.cs
  src/Cake.Issues/ValidatedNotNullAttribute.cs
Due: Cake.Issues, Cake.Issues.EsLint, Cake.Issues.Markdownlint, Cake.Issues.MsBuild, Cake.Issues.PullRequests, Cake.Issues.Reporting, Cake.Issues.Reporting.Sarif, Cake.Issues.Terraform, Cake.Issues.Testing

Only report code coverage for .NET 8
  recipe.cake
Due: none

Only report code coverage for .NET 8 (#598)
  recipe.cake
Due: none

Throw exception if null is passed to GetHashCode
  src/Cake.Issues.Tests/IIssueComparerTests.cs
  src/Cake.Issues/IIssueComparer.cs
Due: Cake.Issues

Throw exception if null is passed to GetHashCode (#595)
  src/Cake.Issues.Tests/IIssueComparerTests.cs
  src/Cake.Issues/IIssueComparer.cs
Due: Cake.Issues

Don't print diagnostics if ShowDiagnostics is set to false
  src/Cake.Issues.Reporting.Console/ConsoleIssueReportGenerator.cs
Due: Cake.Issues.Reporting.Console

Don't print diagnostics if ShowDiagnostics is set to false (#600)
  src/Cake.Issues.Reporting.Console/ConsoleIssueReportGenerator.cs
Due: Cake.Issues.Reporting.Console

Don't hide fields
  src/Cake.Issues.GitRepository/GitRepositoryIssuesProvider.cs
Due: Cake.Issues.GitRepository

Remove trailing whitespace
  src/Cake.Issues.Testing/BaseIssueProviderFixture.cs
Due: Cake.Issues.Testing

Enable solution wide analysis
  src/Cake.Issues.sln.DotSettings
Due: none

Fix null check
  src/Cake.Issues.GitRepository/GitRepositoryIssuesProvider.cs
Due: Cake.Issues.GitRepository

Suppress false-positives
  src/Cake.Issues.GitRepository/GitRepositoryIssuesSettings.cs
  src/Cake.Issues.Reporting.Generic/HtmlDxDataGridColumnDescription.cs
  src/Cake.Issues.Reporting.Generic/IdeIntegrationSettings.cs
Due: Cake.Issues.GitRepository, Cake.Issues.Reporting.Generic

Fix linting issues (#604)
  src/Cake.Issues.GitRepository/GitRepositoryIssuesProvider.cs
  src/Cake.Issues.GitRepository/GitRepositoryIssuesSettings.cs
  src/Cake.Issues.Reporting.Generic/HtmlDxDataGridColumnDescription.cs
  src/Cake.Issues.Reporting.Generic/IdeIntegrationSettings.cs
  src/Cake.Issues.Testing/BaseIssueProviderFixture.cs
  src/Cake.Issues.sln.DotSettings
Due: Cake.Issues.GitRepository, Cake.Issues.Reporting.Generic, Cake.Issues.Testing

Update AppVeyor
  .appveyor.yml
Due: none

(GH-450) Add option to configure issue filters for writing comments to pull requests (#452)
  docs/configuration.md
Due: none

(GH-602) Enable search for column filter
  src/Cake.Issues.Reporting.Generic/Templates/DxDataGrid.cshtml
Due: Cake.Issues.Reporting.Generic

Path conditions:
  Cake.Issues: any of: src/Cake.Issues/**
  Cake.Issues.DocFx: any of: src/Cake.Issues.DocFx/**
  Cake.Issues.EsLint: any of: src/Cake.Issues.EsLint/**
  Cake.Issues.GitRepository: any of: src/Cake.Issues.GitRepository/**
  Cake.Issues.InspectCode: any of: src/Cake.Issues.InspectCode/**
  Cake.Issues.Markdownlint: any of: src/Cake.Issues.Markdownlint/**
  Cake.Issues.MsBuild: any of: src/Cake.Issues.MsBuild/**
  Cake.Issues.PullRequests: any of: src/Cake.Issues.PullRequests/**
  Cake.Issues.PullRequests.AppVeyor: any of: src/Cake.Issues.PullRequests.AppVeyor/**
  Cake.Issues.PullRequests.AzureDevOps: any of: src/Cake.Issues.PullRequests.AzureDevOps/**
  Cake.Issues.PullRequests.GitHubActions: any of: src/Cake.Issues.PullRequests.GitHubActions/**
  Cake.Issues.Reporting: any of: src/Cake.Issues.Reporting/**
  Cake.Issues.Reporting.Console: any of: src/Cake.Issues.Reporting.Console/**
  Cake.Issues.Reporting.Generic: any of: src/Cake.Issues.Reporting.Generic/**
  Cake.Issues.Reporting.Sarif: any of: src/Cake.Issues.Reporting.Sarif/**
  Cake.Issues.Sarif: any of: src/Cake.Issues.Sarif/**
  Cake.Issues.Terraform: any of: src/Cake.Issues.Terraform/**
  Cake.Issues.Testing: any of: src/Cake.Issues.Testing/**
