Repository cake-contrib/Cake.Issues: changes, and which Codecov flags are due for each by the changed paths.
All: Cake.Issues, Cake.Issues.DocFx, Cake.Issues.EsLint, Cake.Issues.GitRepository, Cake.Issues.InspectCode, Cake.Issues.Markdownlint, Cake.Issues.MsBuild, Cake.Issues.PullRequests, Cake.Issues.PullRequests.AppVeyor, Cake.Issues.PullRequests.AzureDevOps, Cake.Issues.PullRequests.GitHubActions, Cake.Issues.Reporting, Cake.Issues.Reporting.Console, Cake.Issues.Reporting.Generic, Cake.Issues.Reporting.Sarif, Cake.Issues.Sarif, Cake.Issues.Terraform, Cake.Issues.Testing

Enforce IDE diagnostics (#618)
  .gitattributes
  src/.editorconfig
  src/Cake.Issues.Reporting.Console.Tests/ConsoleIssueReportFixture.cs
  src/Cake.Issues.Reporting.Console.Tests/ConsoleIssueReportGeneratorTests.cs
  src/Cake.Issues.Sarif/SarifIssuesProvider.cs
  src/Cake.Issues.Tests.ruleset
  src/Directory.Build.props
Due: Cake.Issues.Sarif

Switch to file scoped namespaces
  src/.editorconfig
Due: none

Add verbose output of pull request settings
  src/Cake.Issues.PullRequests/Orchestrator.cs
Due: Cake.Issues.PullRequests

Add verbose output of pull request settings (#621)
  src/Cake.Issues.PullRequests/Orchestrator.cs
Due: Cake.Issues.PullRequests

(GH-606) Add note that format for InspectCode has changed to SARIF
  nuspec/nuget/Cake.Frosting.Issues.InspectCode.md
  nuspec/nuget/Cake.Issues.InspectCode.md
Due: none

(GH-606) Add note that format for InspectCode has changed to SARIF (#622)
  nuspec/nuget/Cake.Frosting.Issues.InspectCode.md
  nuspec/nuget/Cake.Issues.InspectCode.md
Due: none

Document default values
  src/Cake.Issues.Reporting.Console/ConsoleIssueReportFormatSettings.cs
Due: Cake.Issues.Reporting.Console

(GH-244) Add support for writing issues to console (#458)
  docs/configuration.md
  docs/tasks.md
Due: none

Document default values (#626)
  src/Cake.Issues.Reporting.Console/ConsoleIssueReportFormatSettings.cs
Due: Cake.Issues.Reporting.Console

Remove not required semicolon
  src/Cake.Issues.Reporting.Generic/Templates/DxDataGrid.cshtml
Due: Cake.Issues.Reporting.Generic

Remove not required semicolon (#625)
  src/Cake.Issues.Reporting.Generic/Templates/DxDataGrid.cshtml
Due: Cake.Issues.Reporting.Generic

(GH-127) Add aliases for build breaking
  src/Cake.Issues.Tests/BuildBreakerTests.cs
  src/Cake.Issues.Tests/ExceptionAssertExtensions.cs
  src/Cake.Issues/Aliases.BuildBreaking.cs
  src/Cake.Issues/BuildBreaker.cs
  src/Cake.Issues/IssuesAliasConstants.cs
  src/Cake.Issues/IssuesFoundException.cs
Due: Cake.Issues

(GH-127) Add aliases for build breaking (#627)
  src/Cake.Issues.Tests/BuildBreakerTests.cs
  src/Cake.Issues.Tests/ExceptionAssertExtensions.cs
  src/Cake.Issues/Aliases.BuildBreaking.cs
  src/Cake.Issues/BuildBreaker.cs
  src/Cake.Issues/IssuesAliasConstants.cs
  src/Cake.Issues/IssuesFoundException.cs
Due: Cake.Issues

(GH-601) Add option to define DevExtreme license key
  src/Cake.Issues.Reporting.Generic.Tests/HtmlDxDataGridTemplateTests.cs
  src/Cake.Issues.Reporting.Generic/HtmlDxDataGridOption.cs
  src/Cake.Issues.Reporting.Generic/Templates/DxDataGrid.cshtml
Due: Cake.Issues.Reporting.Generic

(GH-601) Add option to define DevExtreme license key (#624)
  src/Cake.Issues.Reporting.Generic.Tests/HtmlDxDataGridTemplateTests.cs
  src/Cake.Issues.Reporting.Generic/HtmlDxDataGridOption.cs
  src/Cake.Issues.Reporting.Generic/Templates/DxDataGrid.cshtml
Due: Cake.Issues.Reporting.Generic

Update release notes link
  nuspec/nuget/Cake.Frosting.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Frosting.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Frosting.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Terraform.nuspec
  nuspec/nuget/Cake.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Issues.Terraform.nuspec
  nuspec/nuget/Cake.Issues.Testing.nuspec
  nuspec/nuget/Cake.Issues.nuspec
Due: none

Update documentation
  docs/overview.md
Due: none

Remove ReSharper configuration
  src/Cake.Issues.sln.DotSettings
Due: none

Remove ReSharper configuration (#628)
  src/Cake.Issues.sln.DotSettings
Due: none

Fix log output for provider issue limits
  src/Cake.Issues.PullRequests/Orchestrator.cs
Due: Cake.Issues.PullRequests

Fix log output for provider issue limits (#629)
  src/Cake.Issues.PullRequests/Orchestrator.cs
Due: Cake.Issues.PullRequests

Improve readme for Cake.Issues package
  nuspec/nuget/Cake.Issues.md
Due: none

Improve readme for Cake.Issues package (#630)
  nuspec/nuget/Cake.Issues.md
Due: none

Update release notes link
  nuspec/nuget/Cake.Frosting.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Frosting.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Frosting.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Terraform.nuspec
  nuspec/nuget/Cake.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Issues.Terraform.nuspec
  nuspec/nuget/Cake.Issues.nuspec
Due: none

Fixes typos in package README
  nuspec/nuget/Cake.Frosting.Issues.DocFx.md
  nuspec/nuget/Cake.Frosting.Issues.EsLint.md
  nuspec/nuget/Cake.Frosting.Issues.InspectCode.md
  nuspec/nuget/Cake.Frosting.Issues.Markdownlint.md
  nuspec/nuget/Cake.Frosting.Issues.MsBuild.md
  nuspec/nuget/Cake.Frosting.Issues.Sarif.md
  nuspec/nuget/Cake.Frosting.Issues.Terraform.md
  nuspec/nuget/Cake.Issues.DocFx.md
  nuspec/nuget/Cake.Issues.EsLint.md
  nuspec/nuget/Cake.Issues.InspectCode.md
  nuspec/nuget/Cake.Issues.Markdownlint.md
  nuspec/nuget/Cake.Issues.MsBuild.md
  nuspec/nuget/Cake.Issues.Sarif.md
  nuspec/nuget/Cake.Issues.Terraform.md
  nuspec/nuget/Cake.Issues.md
Due: none

Fixes typos in package README (#631)
  nuspec/nuget/Cake.Frosting.Issues.DocFx.md
  nuspec/nuget/Cake.Frosting.Issues.EsLint.md
  nuspec/nuget/Cake.Frosting.Issues.InspectCode.md
  nuspec/nuget/Cake.Frosting.Issues.Markdownlint.md
  nuspec/nuget/Cake.Frosting.Issues.MsBuild.md
  nuspec/nuget/Cake.Frosting.Issues.Sarif.md
  nuspec/nuget/Cake.Frosting.Issues.Terraform.md
  nuspec/nuget/Cake.Issues.DocFx.md
  nuspec/nuget/Cake.Issues.EsLint.md
  nuspec/nuget/Cake.Issues.InspectCode.md
  nuspec/nuget/Cake.Issues.Markdownlint.md
  nuspec/nuget/Cake.Issues.MsBuild.md
  nuspec/nuget/Cake.Issues.Sarif.md
  nuspec/nuget/Cake.Issues.Terraform.md
  nuspec/nuget/Cake.Issues.md
Due: none

Improve logging formatting
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.nuspec
  src/Cake.Issues.PullRequests.Tests/Cake.Issues.PullRequests.Tests.csproj
  src/Cake.Issues.PullRequests.Tests/OrchestratorForIssueProvidersFixture.cs
  src/Cake.Issues.PullRequests.Tests/OrchestratorForIssuesFixture.cs
  src/Cake.Issues.PullRequests.Tests/OrchestratorTests.TheRunMethod.Should_Output_Diagnostic_Information.verified.txt
  src/Cake.Issues.PullRequests.Tests/OrchestratorTests.TheRunMethod.Should_Post_Issue.verified.txt
  src/Cake.Issues.PullRequests.Tests/OrchestratorTests.TheRunMethod.Should_Post_Issue_Not_Related_To_A_File.verified.txt
  src/Cake.Issues.PullRequests.Tests/OrchestratorTests.cs
  src/Cake.Issues.PullRequests/Aliases.cs
  src/Cake.Issues.PullRequests/Cake.Issues.PullRequests.csproj
  src/Cake.Issues.PullRequests/Orchestrator.cs
  src/Cake.Issues.Tests/StringExtensionsTests.cs
  src/Cake.Issues/StringExtensions.cs
Due: Cake.Issues, Cake.Issues.PullRequests

Improve logging formatting (#632)
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.nuspec
  src/Cake.Issues.PullRequests.Tests/Cake.Issues.PullRequests.Tests.csproj
  src/Cake.Issues.PullRequests.Tests/OrchestratorForIssueProvidersFixture.cs
  src/Cake.Issues.PullRequests.Tests/OrchestratorForIssuesFixture.cs
  src/Cake.Issues.PullRequests.Tests/OrchestratorTests.TheRunMethod.Should_Output_Diagnostic_Information.verified.txt
  src/Cake.Issues.PullRequests.Tests/OrchestratorTests.TheRunMethod.Should_Post_Issue.verified.txt
  src/Cake.Issues.PullRequests.Tests/OrchestratorTests.TheRunMethod.Should_Post_Issue_Not_Related_To_A_File.verified.txt
  src/Cake.Issues.PullRequests.Tests/OrchestratorTests.cs
  src/Cake.Issues.PullRequests/Aliases.cs
  src/Cake.Issues.PullRequests/Cake.Issues.PullRequests.csproj
  src/Cake.Issues.PullRequests/Orchestrator.cs
  src/Cake.Issues.Tests/StringExtensionsTests.cs
  src/Cake.Issues/StringExtensions.cs
Due: Cake.Issues, Cake.Issues.PullRequests

Make implicit usings transitive available
  nuspec/nuget/Cake.Frosting.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Frosting.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Frosting.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Terraform.nuspec
  nuspec/nuget/Cake.Issues.nuspec
Due: none

Make implicit usings transitive available (#633)
  nuspec/nuget/Cake.Frosting.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Frosting.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Frosting.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Terraform.nuspec
  nuspec/nuget/Cake.Issues.nuspec
Due: none

Fix AppVeyor build
  .appveyor.yml
Due: none

Fix AppVeyor build (#637)
  .appveyor.yml
Due: none

Update to 6.0.423 for AppVeyor build
  .appveyor.yml
Due: none

Update to 6.0.423 for AppVeyor build (#640)
  .appveyor.yml
Due: none

Split test cases
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportGeneratorTests.cs
Due: none

Split test cases (#500)
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportGeneratorTests.cs
Due: none

Add support for correlationGuid in SARIF reports
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportFormatSettings.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.Reporting.Sarif

Add support for correlationGuid in SARIF reports (#643)
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportFormatSettings.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.Reporting.Sarif

Path conditions:
  Cake.Issues: any of: src/Cake.Issues/**
  Cake.Issues.DocFx: any of: src/Cake.Issues.DocFx/**
  Cake.Issues.EsLint: any of: src/Cake.Issues.EsLint/**
  Cake.Issues.GitRepository: any of: src/Cake.Issues.GitRepository/**
  Cake.Issues.InspectCode: any of: src/Cake.Issues.InspectCode/**
  Cake.Issues.Markdownlint: any of: src/Cake.Issues.Markdownlint/**
  Cake.Issues.MsBuild: any of: src/Cake.Issues.MsBuild/**
  Cake.Issues.PullRequests: any of: src/Cake.Issues.PullRequests/**
  Cake.Issues.PullRequests.AppVeyor: any of: src/Cake.Issues.PullRequests.AppVeyor/**
  Cake.Issues.PullRequests.AzureDevOps: any of: src/Cake.Issues.PullRequests.AzureDevOps/**
  Cake.Issues.PullRequests.GitHubActions: any of: src/Cake.Issues.PullRequests.GitHubActions/**
  Cake.Issues.Reporting: any of: src/Cake.Issues.Reporting/**
  Cake.Issues.Reporting.Console: any of: src/Cake.Issues.Reporting.Console/**
  Cake.Issues.Reporting.Generic: any of: src/Cake.Issues.Reporting.Generic/**
  Cake.Issues.Reporting.Sarif: any of: src/Cake.Issues.Reporting.Sarif/**
  Cake.Issues.Sarif: any of: src/Cake.Issues.Sarif/**
  Cake.Issues.Terraform: any of: src/Cake.Issues.Terraform/**
  Cake.Issues.Testing: any of: src/Cake.Issues.Testing/**
