Repository cake-contrib/Cake.Issues: changes, and which Codecov flags are due for each by the changed paths.
All: Cake.Issues, Cake.Issues.DocFx, Cake.Issues.EsLint, Cake.Issues.GitRepository, Cake.Issues.InspectCode, Cake.Issues.Markdownlint, Cake.Issues.MsBuild, Cake.Issues.PullRequests, Cake.Issues.PullRequests.AppVeyor, Cake.Issues.PullRequests.AzureDevOps, Cake.Issues.PullRequests.GitHubActions, Cake.Issues.Reporting, Cake.Issues.Reporting.Console, Cake.Issues.Reporting.Generic, Cake.Issues.Reporting.Sarif, Cake.Issues.Sarif, Cake.Issues.Terraform, Cake.Issues.Testing

Update GitRepositoryProvider rule URL to new website (#984)
  src/Cake.Issues.GitRepository.Tests/IssueBuilderExtensionsTests.cs
  src/Cake.Issues.GitRepository/GitRepositoryIssuesProvider.cs
  src/Cake.Issues.GitRepository/IssueBuilderExtensions.cs
Due: Cake.Issues.GitRepository

Print correct number of issues when build fails
  src/Cake.Issues/BuildBreaker.cs
Due: Cake.Issues

Deployed 3a3e5655 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/assets/images/social/news/category/release-notes/page/2.png
  develop/assets/images/social/news/category/release-notes/page/3.png
  develop/assets/images/social/news/category/release-notes/page/4.png
  develop/assets/images/social/news/category/release-notes/page/5.png
Due: none

Print correct number of issues when build fails (#983)
  src/Cake.Issues/BuildBreaker.cs
Due: Cake.Issues

Use HTTPS for EsLint rule links
  src/Cake.Issues.EsLint.Tests/EsLintRuleUrlResolverTests.cs
  src/Cake.Issues.EsLint.Tests/LogFileFormat/JsonLogFileFormatTests.cs
  src/Cake.Issues.EsLint/EsLintRuleUrlResolver.cs
Due: Cake.Issues.EsLint

Use HTTPS for EsLint rule links (#985)
  src/Cake.Issues.EsLint.Tests/EsLintRuleUrlResolverTests.cs
  src/Cake.Issues.EsLint.Tests/LogFileFormat/JsonLogFileFormatTests.cs
  src/Cake.Issues.EsLint/EsLintRuleUrlResolver.cs
Due: Cake.Issues.EsLint

Deployed facaaf10 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/assets/images/social/news/category/release-notes/page/2.png
  develop/assets/images/social/news/category/release-notes/page/3.png
  develop/assets/images/social/news/category/release-notes/page/4.png
  develop/assets/images/social/news/category/release-notes/page/5.png
Due: none

Add rule url resolver for Stylelint
  docs/input/documentation/issue-providers/tap/features.md
  src/Cake.Issues.Tap.Tests/LogFileFormat/StylelintLogFileFormatTests.cs
  src/Cake.Issues.Tap.Tests/LogFileFormat/StylelintRuleUrlResolverTests.cs
  src/Cake.Issues.Tap/LogFileFormat/StylelintLogFileFormat.cs
  src/Cake.Issues.Tap/LogFileFormat/StylelintRuleDescription.cs
  src/Cake.Issues.Tap/LogFileFormat/StylelintRuleUrlResolver.cs
  src/Cake.Issues.Tap/TapIssuesAliases.StylelintLogFileFormat.cs
Due: none

Add more examples for MsBuild issue provider
  docs/input/documentation/issue-providers/msbuild/examples/index.md
  docs/input/documentation/issue-providers/msbuild/examples/read-binary-log.md
  docs/input/documentation/issue-providers/msbuild/examples/use-custom-url-resolver.md
  docs/input/documentation/issue-providers/msbuild/index.md
  docs/mkdocs.yml
Due: none

Add rule url resolver for Stylelint (#986)
  docs/input/documentation/issue-providers/tap/features.md
  src/Cake.Issues.Tap.Tests/LogFileFormat/StylelintLogFileFormatTests.cs
  src/Cake.Issues.Tap.Tests/LogFileFormat/StylelintRuleUrlResolverTests.cs
  src/Cake.Issues.Tap/LogFileFormat/StylelintLogFileFormat.cs
  src/Cake.Issues.Tap/LogFileFormat/StylelintRuleDescription.cs
  src/Cake.Issues.Tap/LogFileFormat/StylelintRuleUrlResolver.cs
  src/Cake.Issues.Tap/TapIssuesAliases.StylelintLogFileFormat.cs
Due: none

Add rule URL resolver for Textlint
  docs/input/documentation/issue-providers/tap/features.md
  src/Cake.Issues.Tap.Tests/LogFileFormat/TextlintLogFileFormatTests.cs
  src/Cake.Issues.Tap/LogFileFormat/TextlintLogFileFormat.cs
  src/Cake.Issues.Tap/LogFileFormat/TextlintRuleUrlResolver.cs
  src/Cake.Issues.Tap/TapIssuesAliases.TextlintLogFileFormat.cs
Due: none

Deployed f0d386bd to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/documentation/issue-providers/tap/features/index.html
  develop/search/search_index.json
Due: none

Improve reasoning for run information
  docs/input/documentation/usage/reading-issues/run-information.md
Due: none

Add rule URL resolver for Textlint (#987)
  docs/input/documentation/issue-providers/tap/features.md
  src/Cake.Issues.Tap.Tests/LogFileFormat/TextlintLogFileFormatTests.cs
  src/Cake.Issues.Tap/LogFileFormat/TextlintLogFileFormat.cs
  src/Cake.Issues.Tap/LogFileFormat/TextlintRuleUrlResolver.cs
  src/Cake.Issues.Tap/TapIssuesAliases.TextlintLogFileFormat.cs
Due: none

Deployed e347b282 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/documentation/issue-providers/tap/features/index.html
  develop/search/search_index.json
Due: none

Add more examples for MsBuild issue provider (#988)
  docs/input/documentation/issue-providers/msbuild/examples/index.md
  docs/input/documentation/issue-providers/msbuild/examples/read-binary-log.md
  docs/input/documentation/issue-providers/msbuild/examples/use-custom-url-resolver.md
  docs/input/documentation/issue-providers/msbuild/index.md
  docs/mkdocs.yml
Due: none

Add RuleUrl to list of supported properties
  docs/input/documentation/issue-providers/tap/features.md
Due: none

Update Documentation for list of supported MsBuild rule URLs
  docs/input/documentation/issue-providers/msbuild/features.md
Due: none

Improve reasoning for run information (#989)
  docs/input/documentation/usage/reading-issues/run-information.md
Due: none

Deployed 7578869d to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/documentation/usage/reading-issues/run-information/index.html
  develop/search/search_index.json
Due: none

Link CA rules directly to rule documentation page
  src/Cake.Issues.MsBuild.Tests/LogFileFormat/BinaryLogFileFormatTests.cs
  src/Cake.Issues.MsBuild.Tests/LogFileFormat/XmlFileLoggerLogFileFormatTests.cs
  src/Cake.Issues.MsBuild.Tests/MsBuildRuleUrlResolverTests.cs
  src/Cake.Issues.MsBuild/MsBuildRuleUrlResolver.cs
Due: Cake.Issues.MsBuild

Add RuleUrl to list of supported properties (#990)
  docs/input/documentation/issue-providers/tap/features.md
Due: none

Deployed ab30bb41 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/documentation/issue-providers/tap/features/index.html
  develop/search/search_index.json
Due: none

Update Documentation for list of supported MsBuild rule URLs (#991)
  docs/input/documentation/issue-providers/msbuild/features.md
Due: none

Deployed 027eabaa to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/documentation/issue-providers/msbuild/features/index.html
  develop/search/search_index.json
Due: none

Link CA rules directly to rule documentation page (#992)
  src/Cake.Issues.MsBuild.Tests/LogFileFormat/BinaryLogFileFormatTests.cs
  src/Cake.Issues.MsBuild.Tests/LogFileFormat/XmlFileLoggerLogFileFormatTests.cs
  src/Cake.Issues.MsBuild.Tests/MsBuildRuleUrlResolverTests.cs
  src/Cake.Issues.MsBuild/MsBuildRuleUrlResolver.cs
Due: Cake.Issues.MsBuild

Add support for .NET code style rules
  docs/input/documentation/issue-providers/msbuild/features.md
  src/Cake.Issues.MsBuild.Tests/MsBuildRuleUrlResolverTests.cs
  src/Cake.Issues.MsBuild/MsBuildRuleUrlResolver.cs
Due: Cake.Issues.MsBuild

Add support for .NET code style rules (#993)
  docs/input/documentation/issue-providers/msbuild/features.md
  src/Cake.Issues.MsBuild.Tests/MsBuildRuleUrlResolverTests.cs
  src/Cake.Issues.MsBuild/MsBuildRuleUrlResolver.cs
Due: Cake.Issues.MsBuild

Deployed b9e734cf to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/assets/images/social/news/category/release-notes/page/2.png
  develop/assets/images/social/news/category/release-notes/page/3.png
  develop/assets/images/social/news/category/release-notes/page/4.png
  develop/assets/images/social/news/category/release-notes/page/5.png
  develop/documentation/issue-providers/msbuild/features/index.html
  develop/search/search_index.json
Due: none

Improve feature and usage pages
  docs/input/documentation/features.md
  docs/input/documentation/usage/breaking-builds/breaking-builds.md
  docs/input/documentation/usage/creating-issues/creating-issues.md
  docs/input/documentation/usage/creating-reports/creating-reports.md
  docs/input/documentation/usage/creating-reports/index.md
  docs/input/documentation/usage/reading-issues/file-linking.md
  docs/input/documentation/usage/reading-issues/index.md
  docs/input/documentation/usage/reading-issues/reading-issues.md
  docs/input/documentation/usage/recipe/using-cake-frosting-issues-recipe.md
  docs/input/documentation/usage/recipe/using-cake-issues-recipe.md
  docs/input/documentation/usage/reporting-issues-to-pull-requests/custom-issue-filter.md
  docs/input/documentation/usage/reporting-issues-to-pull-requests/index.md
  docs/input/documentation/usage/reporting-issues-to-pull-requests/report-issues-to-pull-requests.md
Due: none

Add link to file linking example
  docs/input/documentation/extending/issue-provider/helper.md
Due: none

Link to Up-For-Grabs issues
  docs/input/documentation/contributing/how-to-contribute.md
Due: none

Open links in new tabs
  docs/input/documentation/contributing/how-to-build.md
  docs/input/documentation/contributing/how-to-contribute.md
  docs/input/documentation/contributing/how-to-release.md
Due: none

Optimize rendering of code blocks
  docs/input/documentation/extending/issue-provider/tutorials/logfile-format.md
  docs/input/documentation/extending/issue-provider/tutorials/rule-url-resolving.md
  docs/input/documentation/extending/issue-provider/tutorials/settings.md
  docs/input/documentation/extending/issue-provider/tutorials/simple.md
  docs/input/documentation/report-formats/generic/examples/custom-template.md
  docs/input/documentation/report-formats/generic/examples/default-template.md
  docs/input/documentation/report-formats/sarif/examples.md
  docs/input/documentation/usage/creating-issues/creating-issues.md
  docs/input/documentation/usage/creating-reports/creating-reports.md
  docs/input/documentation/usage/recipe/using-cake-frosting-issues-recipe.md
  docs/input/documentation/usage/recipe/using-cake-issues-recipe.md
  docs/input/documentation/usage/reporting-issues-to-pull-requests/custom-issue-filter.md
Due: none

Improve feature and usage pages (#994)
  docs/input/documentation/features.md
  docs/input/documentation/usage/breaking-builds/breaking-builds.md
  docs/input/documentation/usage/creating-issues/creating-issues.md
  docs/input/documentation/usage/creating-reports/creating-reports.md
  docs/input/documentation/usage/creating-reports/index.md
  docs/input/documentation/usage/reading-issues/file-linking.md
  docs/input/documentation/usage/reading-issues/index.md
  docs/input/documentation/usage/reading-issues/reading-issues.md
  docs/input/documentation/usage/recipe/using-cake-frosting-issues-recipe.md
  docs/input/documentation/usage/recipe/using-cake-issues-recipe.md
  docs/input/documentation/usage/reporting-issues-to-pull-requests/custom-issue-filter.md
  docs/input/documentation/usage/reporting-issues-to-pull-requests/index.md
  docs/input/documentation/usage/reporting-issues-to-pull-requests/report-issues-to-pull-requests.md
Due: none

Deployed b24ee3b6 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/assets/images/social/news/category/release-notes/page/2.png
  develop/assets/images/social/news/category/release-notes/page/3.png
  develop/assets/images/social/news/category/release-notes/page/4.png
  develop/assets/images/social/news/category/release-notes/page/5.png
  develop/documentation/features/index.html
  develop/documentation/usage/breaking-builds/breaking-builds/index.html
  develop/documentation/usage/creating-issues/creating-issues/index.html
  develop/documentation/usage/creating-reports/creating-reports/index.html
  develop/documentation/usage/creating-reports/index.html
  develop/documentation/usage/reading-issues/file-linking/index.html
  develop/documentation/usage/reading-issues/index.html
  develop/documentation/usage/reading-issues/reading-issues/index.html
  develop/documentation/usage/recipe/using-cake-frosting-issues-recipe/index.html
  develop/documentation/usage/recipe/using-cake-issues-recipe/index.html
  develop/documentation/usage/reporting-issues-to-pull-requests/custom-issue-filter/index.html
  develop/documentation/usage/reporting-issues-to-pull-requests/index.html
  develop/documentation/usage/reporting-issues-to-pull-requests/report-issues-to-pull-requests/index.html
  develop/search/search_index.json
Due: none

Fix bin log examples for Cake Frosting
  docs/input/documentation/report-formats/console/examples.md
  docs/input/documentation/report-formats/generic/examples/custom-template.md
  docs/input/documentation/report-formats/generic/examples/default-template.md
  docs/input/documentation/report-formats/sarif/examples.md
Due: none

Add link to file linking example (#995)
  docs/input/documentation/extending/issue-provider/helper.md
Due: none

Path conditions:
  Cake.Issues: any of: src/Cake.Issues/**
  Cake.Issues.DocFx: any of: src/Cake.Issues.DocFx/**
  Cake.Issues.EsLint: any of: src/Cake.Issues.EsLint/**
  Cake.Issues.GitRepository: any of: src/Cake.Issues.GitRepository/**
  Cake.Issues.InspectCode: any of: src/Cake.Issues.InspectCode/**
  Cake.Issues.Markdownlint: any of: src/Cake.Issues.Markdownlint/**
  Cake.Issues.MsBuild: any of: src/Cake.Issues.MsBuild/**
  Cake.Issues.PullRequests: any of: src/Cake.Issues.PullRequests/**
  Cake.Issues.PullRequests.AppVeyor: any of: src/Cake.Issues.PullRequests.AppVeyor/**
  Cake.Issues.PullRequests.AzureDevOps: any of: src/Cake.Issues.PullRequests.AzureDevOps/**
  Cake.Issues.PullRequests.GitHubActions: any of: src/Cake.Issues.PullRequests.GitHubActions/**
  Cake.Issues.Reporting: any of: src/Cake.Issues.Reporting/**
  Cake.Issues.Reporting.Console: any of: src/Cake.Issues.Reporting.Console/**
  Cake.Issues.Reporting.Generic: any of: src/Cake.Issues.Reporting.Generic/**
  Cake.Issues.Reporting.Sarif: any of: src/Cake.Issues.Reporting.Sarif/**
  Cake.Issues.Sarif: any of: src/Cake.Issues.Sarif/**
  Cake.Issues.Terraform: any of: src/Cake.Issues.Terraform/**
  Cake.Issues.Testing: any of: src/Cake.Issues.Testing/**
