Repository cake-contrib/Cake.Issues: changes, and which Codecov flags are due for each by the changed paths.
All: Cake.Issues, Cake.Issues.DocFx, Cake.Issues.EsLint, Cake.Issues.GitRepository, Cake.Issues.InspectCode, Cake.Issues.Markdownlint, Cake.Issues.MsBuild, Cake.Issues.PullRequests, Cake.Issues.PullRequests.AppVeyor, Cake.Issues.PullRequests.AzureDevOps, Cake.Issues.PullRequests.GitHubActions, Cake.Issues.Reporting, Cake.Issues.Reporting.Console, Cake.Issues.Reporting.Generic, Cake.Issues.Reporting.Sarif, Cake.Issues.Sarif, Cake.Issues.Terraform, Cake.Issues.Testing

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment
  
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: cake_issues
      name: Cake.Issues
      paths:
        - src/Cake.Issues/**
    - component_id: cake_issues_docfx
      name: Cake.Issues.DocFx
      paths:
        - src/Cake.Issues.DocFx/**
    - component_id: cake_issues_eslint
      name: Cake.Issues.EsLint
      paths:
        - src/Cake.Issues.EsLint/**
    - component_id: cake_issues_gitrepository
      name: Cake.Issues.GitRepository
      paths:
        - src/Cake.Issues.GitRepository/**
    - component_id: cake_issues_inspectcode
      name: Cake.Issues.InspectCode
      paths:
        - src/Cake.Issues.InspectCode/**
    - component_id: cake_issues_markdownlint
      name: Cake.Issues.Markdownlint
      paths:
        - src/Cake.Issues.Markdownlint/**
    - component_id: cake_issues_msbuild
      name: Cake.Issues.MsBuild
      paths:
        - src/Cake.Issues.MsBuild/**
    - component_id: cake_issues_pullrequests
      name: Cake.Issues.PullRequests
      paths:
        - src/Cake.Issues.PullRequests/**
    - component_id: cake_issues_pullrequests_appveyor
      name: Cake.Issues.PullRequests.AppVeyor
      paths:
        - src/Cake.Issues.PullRequests.AppVeyor/**
    - component_id: cake_issues_pullrequests_azuredevops
      name: Cake.Issues.PullRequests.AzureDevOps
      paths:
        - src/Cake.Issues.PullRequests.AzureDevOps/**
    - component_id: cake_issues_pullrequests_githubactions
      name: Cake.Issues.PullRequests.GitHubActions
      paths:
        - src/Cake.Issues.PullRequests.GitHubActions/**
    - component_id: cake_issues_reporting
      name: Cake.Issues.Reporting
      paths:
        - src/Cake.Issues.Reporting/**
    - component_id: cake_issues_reporting_console
      name: Cake.Issues.Reporting.Console
      paths:
        - src/Cake.Issues.Reporting.Console/**
    - component_id: cake_issues_reporting_generic
      name: Cake.Issues.Reporting.Generic
      paths:
        - src/Cake.Issues.Reporting.Generic/**
    - component_id: cake_issues_reporting_sarif
      name: Cake.Issues.Reporting.Sarif
      paths:
        - src/Cake.Issues.Reporting.Sarif/**
    - component_id: cake_issues_sarif
      name: Cake.Issues.Sarif
      paths:
        - src/Cake.Issues.Sarif/**
    - component_id: cake_issues_terraform
      name: Cake.Issues.Terraform
      paths:
        - src/Cake.Issues.Terraform/**
    - component_id: cake_issues_testing
      name: Cake.Issues.Testing
      paths:
        - src/Cake.Issues.Testing/**

Add update about accidential deprecation of Microsoft.Identity.Client (#1155)
  docs/input/news/posts/2025-07-11-microsoft-deleted-package.md
  docs/mkdocs.yml
Due: none

Deployed 1aa2f84e to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/news/2025/07/11/cake-issues-56-has-been-left-padded-by-microsoft/index.html
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Due: none

Deployed 1aa2f84e to 5.6.0 with MkDocs 1.6.1 and mike 2.1.3
  5.6.0/assets/images/social/news/category/release-notes/page/2.png
  5.6.0/assets/images/social/news/category/release-notes/page/3.png
  5.6.0/assets/images/social/news/category/release-notes/page/4.png
  5.6.0/assets/images/social/news/category/release-notes/page/5.png
  5.6.0/news/2025/07/11/cake-issues-56-has-been-left-padded-by-microsoft/index.html
  5.6.0/search/search_index.json
  5.6.0/sitemap.xml
  5.6.0/sitemap.xml.gz
Due: none

Update to Cake.AzureDevOps 5.0.2
  docs/mkdocs.yml
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.nuspec
  src/Cake.Issues.PullRequests.AzureDevOps.Tests/packages.lock.json
  src/Cake.Issues.PullRequests.AzureDevOps/packages.lock.json
  src/Directory.Packages.props
Due: Cake.Issues.PullRequests.AzureDevOps

Update to Cake.AzureDevOps 5.0.2 (#1156)
  docs/mkdocs.yml
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.nuspec
  src/Cake.Issues.PullRequests.AzureDevOps.Tests/packages.lock.json
  src/Cake.Issues.PullRequests.AzureDevOps/packages.lock.json
  src/Directory.Packages.props
Due: Cake.Issues.PullRequests.AzureDevOps

Deployed 025bb1a9 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/documentation/pull-request-systems/azure-devops/examples/azure-pipelines/index.html
  develop/documentation/pull-request-systems/azure-devops/examples/pullrequest-id/index.html
  develop/documentation/pull-request-systems/azure-devops/examples/repository-information/index.html
  develop/search/search_index.json
Due: none

Update release notes link
  nuspec/nuget/Cake.Frosting.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Frosting.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Frosting.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Tap.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Terraform.nuspec
  nuspec/nuget/Cake.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Issues.Tap.nuspec
  nuspec/nuget/Cake.Issues.Terraform.nuspec
  nuspec/nuget/Cake.Issues.Testing.nuspec
  nuspec/nuget/Cake.Issues.nuspec
Due: none

Update version in examples
  docs/mkdocs.yml
Due: none

Add news entry
  docs/input/news/posts/2025-07-12-cake-issues-v5.6.1-released.md
Due: none

Maintain order of issues
  src/Cake.Issues/IssuesReader.cs
Due: Cake.Issues

Cleanup
  src/Cake.Issues/IssuesReader.cs
Due: Cake.Issues

Improve test
  src/Cake.Issues.Tests/IssueReaderTests.cs
Due: none

Don't test for improvement
  src/Cake.Issues.Tests/IssueReaderTests.cs
Due: none

Fix linting issue
  src/Cake.Issues/IssuesReader.cs
Due: Cake.Issues

Deployed c762dee6 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/assets/images/social/news/category/release-notes/page/2.png
  develop/assets/images/social/news/category/release-notes/page/3.png
  develop/assets/images/social/news/category/release-notes/page/4.png
  develop/sitemap.xml
  develop/sitemap.xml.gz
Due: none

Deployed 35893a19 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Due: none

Update AppVeyor
  .appveyor.yml
Due: none

Update blog post to mention that package has been restored
  docs/input/news/posts/2025-07-11-microsoft-deleted-package.md
Due: none

Update blog post to mention that package has been restored (#1160)
  docs/input/news/posts/2025-07-11-microsoft-deleted-package.md
Due: none

Deployed efe1b6c3 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/news/2025/07/11/cake-issues-56-has-been-left-padded-by-microsoft/index.html
  develop/news/archive/2025/index.html
  develop/news/category/announcements/index.html
  develop/news/index.html
  develop/search/search_index.json
Due: none

Deployed dba59c58 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Due: none

Update documentation for Cake SDK
  docs/input/documentation/issue-providers/docfx/examples.md
  docs/input/documentation/issue-providers/gitrepository/examples.md
  docs/input/documentation/issue-providers/inspectcode/examples.md
  docs/input/documentation/issue-providers/markdownlint/examples.md
  docs/input/documentation/issue-providers/msbuild/examples/read-binary-log.md
  docs/input/documentation/issue-providers/msbuild/examples/use-custom-url-resolver.md
  docs/input/documentation/pull-request-systems/appveyor/examples/write-messages.md
  docs/input/documentation/pull-request-systems/azure-devops/examples/azure-pipelines.md
  docs/input/documentation/pull-request-systems/azure-devops/examples/pullrequest-id.md
  docs/input/documentation/pull-request-systems/azure-devops/examples/repository-information.md
  docs/input/documentation/pull-request-systems/github-actions/examples/write-annotations.md
  docs/input/documentation/report-formats/console/examples.md
  docs/input/documentation/report-formats/generic/examples/custom-template.md
  docs/input/documentation/report-formats/generic/examples/default-template.md
  docs/input/documentation/report-formats/sarif/examples.md
  docs/input/documentation/usage/breaking-builds/breaking-builds.md
  docs/input/documentation/usage/creating-issues/creating-issues.md
  docs/input/documentation/usage/creating-reports/creating-reports.md
  docs/input/documentation/usage/reading-issues/file-linking.md
  docs/input/documentation/usage/reading-issues/reading-issues.md
  docs/input/documentation/usage/reading-issues/run-information.md
  docs/input/documentation/usage/reporting-issues-to-pull-requests/custom-issue-filter.md
  docs/input/documentation/usage/reporting-issues-to-pull-requests/report-issues-to-pull-requests.md
Due: none

Update documentation for Cake SDK (#1161)
  docs/input/documentation/issue-providers/docfx/examples.md
  docs/input/documentation/issue-providers/gitrepository/examples.md
  docs/input/documentation/issue-providers/inspectcode/examples.md
  docs/input/documentation/issue-providers/markdownlint/examples.md
  docs/input/documentation/issue-providers/msbuild/examples/read-binary-log.md
  docs/input/documentation/issue-providers/msbuild/examples/use-custom-url-resolver.md
  docs/input/documentation/pull-request-systems/appveyor/examples/write-messages.md
  docs/input/documentation/pull-request-systems/azure-devops/examples/azure-pipelines.md
  docs/input/documentation/pull-request-systems/azure-devops/examples/pullrequest-id.md
  docs/input/documentation/pull-request-systems/azure-devops/examples/repository-information.md
  docs/input/documentation/pull-request-systems/github-actions/examples/write-annotations.md
  docs/input/documentation/report-formats/console/examples.md
  docs/input/documentation/report-formats/generic/examples/custom-template.md
  docs/input/documentation/report-formats/generic/examples/default-template.md
  docs/input/documentation/report-formats/sarif/examples.md
  docs/input/documentation/usage/breaking-builds/breaking-builds.md
  docs/input/documentation/usage/creating-issues/creating-issues.md
  docs/input/documentation/usage/creating-reports/creating-reports.md
  docs/input/documentation/usage/reading-issues/file-linking.md
  docs/input/documentation/usage/reading-issues/reading-issues.md
  docs/input/documentation/usage/reading-issues/run-information.md
  docs/input/documentation/usage/reporting-issues-to-pull-requests/custom-issue-filter.md
  docs/input/documentation/usage/reporting-issues-to-pull-requests/report-issues-to-pull-requests.md
Due: none

Deployed dd8b09a6 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/documentation/issue-providers/docfx/examples/index.html
  develop/documentation/issue-providers/gitrepository/examples/index.html
  develop/documentation/issue-providers/inspectcode/examples/index.html
  develop/documentation/issue-providers/markdownlint/examples/index.html
  develop/documentation/issue-providers/msbuild/examples/read-binary-log/index.html
  develop/documentation/issue-providers/msbuild/examples/use-custom-url-resolver/index.html
  develop/documentation/pull-request-systems/appveyor/examples/write-messages/index.html
  develop/documentation/pull-request-systems/azure-devops/examples/azure-pipelines/index.html
  develop/documentation/pull-request-systems/azure-devops/examples/pullrequest-id/index.html
  develop/documentation/pull-request-systems/azure-devops/examples/repository-information/index.html
  develop/documentation/pull-request-systems/github-actions/examples/write-annotations/index.html
  develop/documentation/report-formats/console/examples/index.html
  develop/documentation/report-formats/generic/examples/custom-template/index.html
  develop/documentation/report-formats/generic/examples/default-template/index.html
  develop/documentation/report-formats/sarif/examples/index.html
  develop/documentation/usage/breaking-builds/breaking-builds/index.html
  develop/documentation/usage/creating-issues/creating-issues/index.html
  develop/documentation/usage/creating-reports/creating-reports/index.html
  develop/documentation/usage/reading-issues/file-linking/index.html
  develop/documentation/usage/reading-issues/reading-issues/index.html
  develop/documentation/usage/reading-issues/run-information/index.html
  develop/documentation/usage/reporting-issues-to-pull-requests/custom-issue-filter/index.html
  develop/documentation/usage/reporting-issues-to-pull-requests/report-issues-to-pull-requests/index.html
  develop/search/search_index.json
Due: none

Deployed dd8b09a6 to 5.6.1 with MkDocs 1.6.1 and mike 2.1.3
  5.6.1/documentation/issue-providers/docfx/examples/index.html
  5.6.1/documentation/issue-providers/gitrepository/examples/index.html
  5.6.1/documentation/issue-providers/inspectcode/examples/index.html
  5.6.1/documentation/issue-providers/markdownlint/examples/index.html
  5.6.1/documentation/issue-providers/msbuild/examples/read-binary-log/index.html
  5.6.1/documentation/issue-providers/msbuild/examples/use-custom-url-resolver/index.html
  5.6.1/documentation/pull-request-systems/appveyor/examples/write-messages/index.html
  5.6.1/documentation/pull-request-systems/azure-devops/examples/azure-pipelines/index.html
  5.6.1/documentation/pull-request-systems/azure-devops/examples/pullrequest-id/index.html
  5.6.1/documentation/pull-request-systems/azure-devops/examples/repository-information/index.html
  5.6.1/documentation/pull-request-systems/github-actions/examples/write-annotations/index.html
  5.6.1/documentation/report-formats/console/examples/index.html
  5.6.1/documentation/report-formats/generic/examples/custom-template/index.html
  5.6.1/documentation/report-formats/generic/examples/default-template/index.html
  5.6.1/documentation/report-formats/sarif/examples/index.html
  5.6.1/documentation/usage/breaking-builds/breaking-builds/index.html
  5.6.1/documentation/usage/creating-issues/creating-issues/index.html
  5.6.1/documentation/usage/creating-reports/creating-reports/index.html
  5.6.1/documentation/usage/reading-issues/file-linking/index.html
  5.6.1/documentation/usage/reading-issues/reading-issues/index.html
  5.6.1/documentation/usage/reading-issues/run-information/index.html
  5.6.1/documentation/usage/reporting-issues-to-pull-requests/custom-issue-filter/index.html
  5.6.1/documentation/usage/reporting-issues-to-pull-requests/report-issues-to-pull-requests/index.html
  5.6.1/news/2025/07/11/cake-issues-56-has-been-left-padded-by-microsoft/index.html
  5.6.1/news/archive/2025/index.html
  5.6.1/news/category/announcements/index.html
  5.6.1/news/index.html
  5.6.1/search/search_index.json
  5.6.1/sitemap.xml
  5.6.1/sitemap.xml.gz
Due: none

Deployed ea769e19 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Due: none

Deployed 14a094e9 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Due: none

(GH-1167) Fix exception for MsBuild warnings without ProjectFile set
  src/Cake.Issues.MsBuild.Tests/LogFileFormat/BinaryLogFileFormatTests.cs
  src/Cake.Issues.MsBuild.Tests/Testfiles/BinaryLogFileFormat/NoProjectFile.binlog
  src/Cake.Issues.MsBuild/LogFileFormat/BinaryLogFileFormat.cs
Due: Cake.Issues.MsBuild

(GH-1167) Fix exception for MsBuild warnings without ProjectFile set (#1168)
  src/Cake.Issues.MsBuild.Tests/LogFileFormat/BinaryLogFileFormatTests.cs
  src/Cake.Issues.MsBuild.Tests/Testfiles/BinaryLogFileFormat/NoProjectFile.binlog
  src/Cake.Issues.MsBuild/LogFileFormat/BinaryLogFileFormat.cs
Due: Cake.Issues.MsBuild

Deployed 503cab7a to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Due: none

Revert global.json
  src/global.json
Due: none

Add NuGet lock files
  src/Cake.Issues.JUnit.Tests/packages.lock.json
  src/Cake.Issues.JUnit/packages.lock.json
Due: none

Add solution folder
  src/Cake.Issues.sln
Due: none

Cleanup
  src/Cake.Issues.JUnit/JUnitIssuesProvider.cs
Due: none

Add NuGet lock files
  src/Cake.Issues.CodeClimate.Tests/packages.lock.json
  src/Cake.Issues.CodeClimate/packages.lock.json
Due: none

Fix assembly properties
  src/Cake.Issues.CodeClimate/Properties/ProjectInfo.cs
Due: none

Cleanup
  src/Cake.Issues.GitRepository.Tests/GitRepositoryIssuesProviderTests.cs
  src/Cake.Issues.GitRepository/GitRepositoryIssuesProvider.cs
Due: Cake.Issues.GitRepository
