Repository cake-contrib/Cake.Issues: changes, and which Codecov flags are due for each by the changed paths.
All: Cake.Issues, Cake.Issues.DocFx, Cake.Issues.EsLint, Cake.Issues.GitRepository, Cake.Issues.InspectCode, Cake.Issues.Markdownlint, Cake.Issues.MsBuild, Cake.Issues.PullRequests, Cake.Issues.PullRequests.AppVeyor, Cake.Issues.PullRequests.AzureDevOps, Cake.Issues.PullRequests.GitHubActions, Cake.Issues.Reporting, Cake.Issues.Reporting.Console, Cake.Issues.Reporting.Generic, Cake.Issues.Reporting.Sarif, Cake.Issues.Sarif, Cake.Issues.Terraform, Cake.Issues.Testing

Deployed e0e8475f8 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/assets/images/social/documentation/extending/issue-provider/categories.png
  develop/assets/images/social/news/category/release-notes/page/2.png
  develop/assets/images/social/news/category/release-notes/page/3.png
  develop/assets/images/social/news/category/release-notes/page/4.png
  develop/assets/images/social/news/category/release-notes/page/5.png
  develop/documentation/how-cake-issues-works/index.html
  develop/sitemap.xml
  develop/sitemap.xml.gz
Due: none

Deployed 0c6c7a0a5 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/assets/images/social/documentation/extending/issue-provider/categories.png
  develop/assets/images/social/news/category/release-notes/page/2.png
  develop/assets/images/social/news/category/release-notes/page/3.png
  develop/assets/images/social/news/category/release-notes/page/4.png
  develop/assets/images/social/news/category/release-notes/page/5.png
  develop/documentation/issue-providers/inspectcode/examples/index.html
  develop/documentation/usage/recipe/using-cake-frosting-issues-recipe/index.html
  develop/search/search_index.json
Due: none

Deployed cabc77297 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/assets/images/social/documentation/extending/issue-provider/categories.png
  develop/sitemap.xml
  develop/sitemap.xml.gz
Due: none

Update AppVeyor
  .appveyor.yml
Due: none

Deployed 84db810d5 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/assets/images/social/documentation/extending/build-servers/categories.png
  develop/assets/images/social/documentation/extending/issue-provider/categories.png
  develop/sitemap.xml
  develop/sitemap.xml.gz
Due: none

Deployed c3d589089 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/assets/images/social/documentation/extending/build-servers/categories.png
  develop/assets/images/social/documentation/extending/issue-provider/categories.png
  develop/sitemap.xml
  develop/sitemap.xml.gz
Due: none

Fixes reporting issues without priority to console
  src/Cake.Issues.Reporting.Console.Tests/ConsoleIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Console/IssueDiagnostic.cs
Due: Cake.Issues.Reporting.Console

Deployed 33e652ff9 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/assets/images/social/documentation/extending/build-servers/categories.png
  develop/assets/images/social/documentation/extending/issue-provider/categories.png
  develop/assets/images/social/news/category/release-notes/page/2.png
  develop/assets/images/social/news/category/release-notes/page/3.png
  develop/assets/images/social/news/category/release-notes/page/4.png
  develop/assets/images/social/news/category/release-notes/page/5.png
  develop/documentation/issue-providers/inspectcode/examples/index.html
  develop/documentation/usage/recipe/using-cake-frosting-issues-recipe/index.html
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Due: none

Deployed 0dbb82ca8 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/assets/images/social/documentation/extending/build-servers/categories.png
  develop/assets/images/social/news/category/release-notes/page/2.png
  develop/assets/images/social/news/category/release-notes/page/3.png
  develop/assets/images/social/news/category/release-notes/page/4.png
  develop/assets/images/social/news/category/release-notes/page/5.png
Due: none

Deployed 2184c7400 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/assets/images/social/news/category/release-notes/page/2.png
  develop/assets/images/social/news/category/release-notes/page/3.png
  develop/assets/images/social/news/category/release-notes/page/4.png
  develop/assets/images/social/news/category/release-notes/page/5.png
  develop/sitemap.xml
  develop/sitemap.xml.gz
Due: none

Improve styling of website
  docs/input/assets/stylesheets/styling.css
  docs/mkdocs.yml
Due: none

Improve styling of website (#1263)
  docs/input/assets/stylesheets/styling.css
  docs/mkdocs.yml
Due: none

Deployed 2a0c079ae to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/assets/images/social/documentation/extending/build-servers/categories.png
  develop/assets/images/social/documentation/extending/issue-provider/categories.png
  develop/assets/images/social/news/category/release-notes/page/2.png
  develop/assets/images/social/news/category/release-notes/page/3.png
  develop/assets/images/social/news/category/release-notes/page/4.png
  develop/assets/images/social/news/category/release-notes/page/5.png
  develop/sitemap.xml
  develop/sitemap.xml.gz
Due: none

Fixes reporting issues without priority to console (#1254)
  src/Cake.Issues.Reporting.Console.Tests/ConsoleIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Console/IssueDiagnostic.cs
Due: Cake.Issues.Reporting.Console

Deployed 624ae9dca to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/assets/images/social/documentation/extending/build-servers/categories.png
  develop/assets/images/social/documentation/extending/issue-provider/categories.png
  develop/assets/images/social/news/category/release-notes/page/2.png
  develop/assets/images/social/news/category/release-notes/page/3.png
  develop/assets/images/social/news/category/release-notes/page/4.png
  develop/assets/images/social/news/category/release-notes/page/5.png
  develop/sitemap.xml
  develop/sitemap.xml.gz
Due: none

Add test case
  src/Cake.Issues.Reporting.Console.Tests/Cake.Issues.Reporting.Console.Tests.csproj
  src/Cake.Issues.Reporting.Console.Tests/ConsoleIssueReportFixture.cs
  src/Cake.Issues.Reporting.Console.Tests/ConsoleIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Console.Tests/TheInternalCreateReportMethod.WithShowDiagnosticsEnabled.Should_Work_With_Issue_On_End_Of_Line.verified.txt
  src/Cake.Issues.Reporting.Console.Tests/packages.lock.json
  src/Cake.Issues.Reporting.Console/ConsoleIssueReportFormatAliases.cs
  src/Cake.Issues.Reporting.Console/ConsoleIssueReportGenerator.cs
Due: Cake.Issues.Reporting.Console

Fix column position validation to prevent Errata "label column cannot start at the end of the line" errors
  src/Cake.Issues.Reporting.Console/ConsoleIssueReportGenerator.cs
  src/Cake.Issues.Reporting.Console/IssueDiagnostic.cs
Due: Cake.Issues.Reporting.Console

Improve logging
  src/Cake.Issues.Reporting.Console.Tests/IssueDiagnosticTests.cs
  src/Cake.Issues.Reporting.Console/ConsoleIssueReportGenerator.cs
  src/Cake.Issues.Reporting.Console/IssueDiagnostic.cs
Due: Cake.Issues.Reporting.Console

Improve line ending handling
  src/Cake.Issues.Reporting.Console/IssueDiagnostic.cs
Due: Cake.Issues.Reporting.Console

Improve comment
  src/Cake.Issues.Reporting.Console.Tests/ConsoleIssueReportGeneratorTests.cs
Due: none

Improve file reading
  src/Cake.Issues.Reporting.Console/IssueDiagnostic.cs
Due: Cake.Issues.Reporting.Console

Improve exception handling
  src/Cake.Issues.Reporting.Console/IssueDiagnostic.cs
Due: Cake.Issues.Reporting.Console

Improve performance
  src/Cake.Issues.Reporting.Console/IssueDiagnostic.cs
Due: Cake.Issues.Reporting.Console

Handle more exceptions
  src/Cake.Issues.Reporting.Console/IssueDiagnostic.cs
Due: Cake.Issues.Reporting.Console

Fix "label column cannot start at the end of the line" error in Console reporting (#1224)
  src/Cake.Issues.Reporting.Console.Tests/Cake.Issues.Reporting.Console.Tests.csproj
  src/Cake.Issues.Reporting.Console.Tests/ConsoleIssueReportFixture.cs
  src/Cake.Issues.Reporting.Console.Tests/ConsoleIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Console.Tests/IssueDiagnosticTests.cs
  src/Cake.Issues.Reporting.Console.Tests/TheInternalCreateReportMethod.WithShowDiagnosticsEnabled.Should_Work_With_Issue_On_End_Of_Line.verified.txt
  src/Cake.Issues.Reporting.Console.Tests/packages.lock.json
  src/Cake.Issues.Reporting.Console/ConsoleIssueReportFormatAliases.cs
  src/Cake.Issues.Reporting.Console/ConsoleIssueReportGenerator.cs
  src/Cake.Issues.Reporting.Console/IssueDiagnostic.cs
Due: Cake.Issues.Reporting.Console

Deployed a101590c5 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/assets/images/social/news/category/release-notes/page/2.png
  develop/assets/images/social/news/category/release-notes/page/3.png
  develop/assets/images/social/news/category/release-notes/page/4.png
  develop/assets/images/social/news/category/release-notes/page/5.png
Due: none

Add news entry
  docs/input/news/posts/2025-09-24-cake-issues-v5.9.0-released.md
Due: none

Update release notes link
  nuspec/nuget/Cake.Frosting.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Frosting.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Frosting.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Frosting.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Frosting.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Tap.nuspec
  nuspec/nuget/Cake.Frosting.Issues.Terraform.nuspec
  nuspec/nuget/Cake.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Issues.Tap.nuspec
  nuspec/nuget/Cake.Issues.Terraform.nuspec
  nuspec/nuget/Cake.Issues.Testing.nuspec
  nuspec/nuget/Cake.Issues.nuspec
Due: none

Update version in examples
  docs/mkdocs.yml
Due: none

Deployed 2751eacfd to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/assets/images/social/documentation/extending/build-servers/categories.png
  develop/assets/images/social/documentation/extending/issue-provider/categories.png
  develop/sitemap.xml
  develop/sitemap.xml.gz
Due: none

Update default value
  src/Cake.Issues.Reporting.Generic/HtmlDxDataGridOption.cs
  src/Cake.Issues.Reporting.Generic/Templates/DxDataGrid.cshtml
Due: Cake.Issues.Reporting.Generic

Deployed e573f7780 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/assets/images/social/documentation/extending/build-servers/categories.png
  develop/assets/images/social/documentation/extending/issue-provider/categories.png
  develop/documentation/report-formats/generic/templates/htmldxdatagrid-demo-exportformat-pdf.html
Due: none

Add news entry
  docs/input/news/posts/2025-09-25-cake-issues-v5.9.1-released.md
Due: none

Path conditions:
  Cake.Issues: any of: src/Cake.Issues/**
  Cake.Issues.DocFx: any of: src/Cake.Issues.DocFx/**
  Cake.Issues.EsLint: any of: src/Cake.Issues.EsLint/**
  Cake.Issues.GitRepository: any of: src/Cake.Issues.GitRepository/**
  Cake.Issues.InspectCode: any of: src/Cake.Issues.InspectCode/**
  Cake.Issues.Markdownlint: any of: src/Cake.Issues.Markdownlint/**
  Cake.Issues.MsBuild: any of: src/Cake.Issues.MsBuild/**
  Cake.Issues.PullRequests: any of: src/Cake.Issues.PullRequests/**
  Cake.Issues.PullRequests.AppVeyor: any of: src/Cake.Issues.PullRequests.AppVeyor/**
  Cake.Issues.PullRequests.AzureDevOps: any of: src/Cake.Issues.PullRequests.AzureDevOps/**
  Cake.Issues.PullRequests.GitHubActions: any of: src/Cake.Issues.PullRequests.GitHubActions/**
  Cake.Issues.Reporting: any of: src/Cake.Issues.Reporting/**
  Cake.Issues.Reporting.Console: any of: src/Cake.Issues.Reporting.Console/**
  Cake.Issues.Reporting.Generic: any of: src/Cake.Issues.Reporting.Generic/**
  Cake.Issues.Reporting.Sarif: any of: src/Cake.Issues.Reporting.Sarif/**
  Cake.Issues.Sarif: any of: src/Cake.Issues.Sarif/**
  Cake.Issues.Terraform: any of: src/Cake.Issues.Terraform/**
  Cake.Issues.Testing: any of: src/Cake.Issues.Testing/**
