Repository cake-contrib/Cake.Issues: changes, and which Codecov flags are due for each by the changed paths.
All: Cake.Issues, Cake.Issues.DocFx, Cake.Issues.EsLint, Cake.Issues.GitRepository, Cake.Issues.InspectCode, Cake.Issues.Markdownlint, Cake.Issues.MsBuild, Cake.Issues.PullRequests, Cake.Issues.PullRequests.AppVeyor, Cake.Issues.PullRequests.AzureDevOps, Cake.Issues.PullRequests.GitHubActions, Cake.Issues.Reporting, Cake.Issues.Reporting.Console, Cake.Issues.Reporting.Generic, Cake.Issues.Reporting.Sarif, Cake.Issues.Sarif, Cake.Issues.Terraform, Cake.Issues.Testing

codecov.yml:

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment
  
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: cake_issues
      name: Cake.Issues
      paths:
        - src/Cake.Issues/**
    - component_id: cake_issues_docfx
      name: Cake.Issues.DocFx
      paths:
        - src/Cake.Issues.DocFx/**
    - component_id: cake_issues_eslint
      name: Cake.Issues.EsLint
      paths:
        - src/Cake.Issues.EsLint/**
    - component_id: cake_issues_gitrepository
      name: Cake.Issues.GitRepository
      paths:
        - src/Cake.Issues.GitRepository/**
    - component_id: cake_issues_inspectcode
      name: Cake.Issues.InspectCode
      paths:
        - src/Cake.Issues.InspectCode/**
    - component_id: cake_issues_markdownlint
      name: Cake.Issues.Markdownlint
      paths:
        - src/Cake.Issues.Markdownlint/**
    - component_id: cake_issues_msbuild
      name: Cake.Issues.MsBuild
      paths:
        - src/Cake.Issues.MsBuild/**
    - component_id: cake_issues_pullrequests
      name: Cake.Issues.PullRequests
      paths:
        - src/Cake.Issues.PullRequests/**
    - component_id: cake_issues_pullrequests_appveyor
      name: Cake.Issues.PullRequests.AppVeyor
      paths:
        - src/Cake.Issues.PullRequests.AppVeyor/**
    - component_id: cake_issues_pullrequests_azuredevops
      name: Cake.Issues.PullRequests.AzureDevOps
      paths:
        - src/Cake.Issues.PullRequests.AzureDevOps/**
    - component_id: cake_issues_pullrequests_githubactions
      name: Cake.Issues.PullRequests.GitHubActions
      paths:
        - src/Cake.Issues.PullRequests.GitHubActions/**
    - component_id: cake_issues_reporting
      name: Cake.Issues.Reporting
      paths:
        - src/Cake.Issues.Reporting/**
    - component_id: cake_issues_reporting_console
      name: Cake.Issues.Reporting.Console
      paths:
        - src/Cake.Issues.Reporting.Console/**
    - component_id: cake_issues_reporting_generic
      name: Cake.Issues.Reporting.Generic
      paths:
        - src/Cake.Issues.Reporting.Generic/**
    - component_id: cake_issues_reporting_sarif
      name: Cake.Issues.Reporting.Sarif
      paths:
        - src/Cake.Issues.Reporting.Sarif/**
    - component_id: cake_issues_sarif
      name: Cake.Issues.Sarif
      paths:
        - src/Cake.Issues.Sarif/**
    - component_id: cake_issues_terraform
      name: Cake.Issues.Terraform
      paths:
        - src/Cake.Issues.Terraform/**
    - component_id: cake_issues_testing
      name: Cake.Issues.Testing
      paths:
        - src/Cake.Issues.Testing/**

Ignore LitJson in test coverage (#571)
  recipe.cake
Due: none

Simplify collection initialization (IDE0301) (#570)
  src/Cake.Issues.Terraform.Tests/TerraformSettingsTests.cs
Due: none

Add code coverage badge to README (#572)
  README.md
Due: none

Add tests for CreateIssueReportFromIssueProviderSettings
  src/Cake.Issues.Reporting.Tests/CreateIssueReportFromIssueProviderSettingsTests.cs
Due: none

Add tests for CreateIssueReportFromIssueProviderSettings (#574)
  src/Cake.Issues.Reporting.Tests/CreateIssueReportFromIssueProviderSettingsTests.cs
Due: none

Introduce constructor accepting ICakeLog
  src/Cake.Issues.PullRequests.GitHubActions.Tests/GitHubActionsPullRequestSystemTests.cs
  src/Cake.Issues.PullRequests.GitHubActions/GitHubActionsBuildsAliases.cs
  src/Cake.Issues.PullRequests.GitHubActions/GitHubActionsPullRequestSystem.cs
Due: Cake.Issues.PullRequests.GitHubActions

Introduce constructor accepting ICakeLog (#577)
  src/Cake.Issues.PullRequests.GitHubActions.Tests/GitHubActionsPullRequestSystemTests.cs
  src/Cake.Issues.PullRequests.GitHubActions/GitHubActionsBuildsAliases.cs
  src/Cake.Issues.PullRequests.GitHubActions/GitHubActionsPullRequestSystem.cs
Due: Cake.Issues.PullRequests.GitHubActions

Add test cases for AppVeyorPullRequestSystem
  src/Cake.Issues.PullRequests.AppVeyor.Tests/AppVeyorPullRequestSystemTests.cs
  src/Cake.Issues.PullRequests.AppVeyor.Tests/Cake.Issues.PullRequests.AppVeyor.Tests.csproj
  src/Cake.Issues.PullRequests.AppVeyor.Tests/CakeContextFixture.cs
  src/Cake.Issues.PullRequests.AppVeyor/AppVeyorPullRequestSystem.cs
Due: Cake.Issues.PullRequests.AppVeyor

Add test cases for AppVeyorPullRequestSystem (#579)
  src/Cake.Issues.PullRequests.AppVeyor.Tests/AppVeyorPullRequestSystemTests.cs
  src/Cake.Issues.PullRequests.AppVeyor.Tests/Cake.Issues.PullRequests.AppVeyor.Tests.csproj
  src/Cake.Issues.PullRequests.AppVeyor.Tests/CakeContextFixture.cs
  src/Cake.Issues.PullRequests.AppVeyor/AppVeyorPullRequestSystem.cs
Due: Cake.Issues.PullRequests.AppVeyor

Use var instead of explicit type (IDE0007)
  src/Cake.Issues.GitRepository/GitRepositoryIssuesProvider.cs
  src/Cake.Issues.Markdownlint/LogFileFormat/MarkdownlintCliLogFileFormat.cs
  src/Cake.Issues.Markdownlint/MarkdownlintRuleUrlResolver.cs
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.GitRepository, Cake.Issues.Markdownlint, Cake.Issues.Reporting.Sarif

Use var instead of explicit type (IDE0007) (#582)
  src/Cake.Issues.GitRepository/GitRepositoryIssuesProvider.cs
  src/Cake.Issues.Markdownlint/LogFileFormat/MarkdownlintCliLogFileFormat.cs
  src/Cake.Issues.Markdownlint/MarkdownlintRuleUrlResolver.cs
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.GitRepository, Cake.Issues.Markdownlint, Cake.Issues.Reporting.Sarif

Remove duplicated source link package
  src/Cake.Issues.Reporting.Generic/Cake.Issues.Reporting.Generic.csproj
Due: Cake.Issues.Reporting.Generic

Remove duplicated source link package (#585)
  src/Cake.Issues.Reporting.Generic/Cake.Issues.Reporting.Generic.csproj
Due: Cake.Issues.Reporting.Generic

Configure rulesets in Directory.Build.props
  src/Cake.Issues.DocFx.Tests/Cake.Issues.DocFx.Tests.csproj
  src/Cake.Issues.DocFx/Cake.Issues.DocFx.csproj
  src/Cake.Issues.EsLint.Tests/Cake.Issues.EsLint.Tests.csproj
  src/Cake.Issues.EsLint/Cake.Issues.EsLint.csproj
  src/Cake.Issues.GitRepository.Tests/Cake.Issues.GitRepository.Tests.csproj
  src/Cake.Issues.GitRepository/Cake.Issues.GitRepository.csproj
  src/Cake.Issues.InspectCode.Tests/Cake.Issues.InspectCode.Tests.csproj
  src/Cake.Issues.InspectCode/Cake.Issues.InspectCode.csproj
  src/Cake.Issues.Markdownlint.Tests/Cake.Issues.Markdownlint.Tests.csproj
  src/Cake.Issues.Markdownlint/Cake.Issues.Markdownlint.csproj
  src/Cake.Issues.MsBuild.Tests/Cake.Issues.MsBuild.Tests.csproj
  src/Cake.Issues.MsBuild/Cake.Issues.MsBuild.csproj
  src/Cake.Issues.PullRequests.AppVeyor.Tests/Cake.Issues.PullRequests.AppVeyor.Tests.csproj
  src/Cake.Issues.PullRequests.AppVeyor/Cake.Issues.PullRequests.AppVeyor.csproj
  src/Cake.Issues.PullRequests.AzureDevOps.Tests/Cake.Issues.PullRequests.AzureDevOps.Tests.csproj
  src/Cake.Issues.PullRequests.AzureDevOps/Cake.Issues.PullRequests.AzureDevOps.csproj
  src/Cake.Issues.PullRequests.GitHubActions.Tests/Cake.Issues.PullRequests.GitHubActions.Tests.csproj
  src/Cake.Issues.PullRequests.GitHubActions/Cake.Issues.PullRequests.GitHubActions.csproj
  src/Cake.Issues.PullRequests.Tests/Cake.Issues.PullRequests.Tests.csproj
  src/Cake.Issues.PullRequests/Cake.Issues.PullRequests.csproj
  src/Cake.Issues.Reporting.Console.Tests/Cake.Issues.Reporting.Console.Tests.csproj
  src/Cake.Issues.Reporting.Console/Cake.Issues.Reporting.Console.csproj
  src/Cake.Issues.Reporting.Generic.Tests/Cake.Issues.Reporting.Generic.Tests.csproj
  src/Cake.Issues.Reporting.Generic/Cake.Issues.Reporting.Generic.csproj
  src/Cake.Issues.Reporting.Sarif.Tests/Cake.Issues.Reporting.Sarif.Tests.csproj
  src/Cake.Issues.Reporting.Sarif/Cake.Issues.Reporting.Sarif.csproj
  src/Cake.Issues.Reporting.Tests/Cake.Issues.Reporting.Tests.csproj
  src/Cake.Issues.Reporting/Cake.Issues.Reporting.csproj
  src/Cake.Issues.Sarif.Tests/Cake.Issues.Sarif.Tests.csproj
  src/Cake.Issues.Sarif/Cake.Issues.Sarif.csproj
  src/Cake.Issues.Terraform.Tests/Cake.Issues.Terraform.Tests.csproj
  src/Cake.Issues.Terraform/Cake.Issues.Terraform.csproj
  src/Cake.Issues.Testing/Cake.Issues.Testing.csproj
  src/Cake.Issues.Tests/Cake.Issues.Tests.csproj
  src/Cake.Issues/Cake.Issues.csproj
  src/Directory.Build.props
Due: Cake.Issues, Cake.Issues.DocFx, Cake.Issues.EsLint, Cake.Issues.GitRepository, Cake.Issues.InspectCode, Cake.Issues.Markdownlint, Cake.Issues.MsBuild, Cake.Issues.PullRequests, Cake.Issues.PullRequests.AppVeyor, Cake.Issues.PullRequests.AzureDevOps, Cake.Issues.PullRequests.GitHubActions, Cake.Issues.Reporting, Cake.Issues.Reporting.Console, Cake.Issues.Reporting.Generic, Cake.Issues.Reporting.Sarif, Cake.Issues.Sarif, Cake.Issues.Terraform, Cake.Issues.Testing

Configure rulesets in Directory.Build.props (#583)
  src/Cake.Issues.DocFx.Tests/Cake.Issues.DocFx.Tests.csproj
  src/Cake.Issues.DocFx/Cake.Issues.DocFx.csproj
  src/Cake.Issues.EsLint.Tests/Cake.Issues.EsLint.Tests.csproj
  src/Cake.Issues.EsLint/Cake.Issues.EsLint.csproj
  src/Cake.Issues.GitRepository.Tests/Cake.Issues.GitRepository.Tests.csproj
  src/Cake.Issues.GitRepository/Cake.Issues.GitRepository.csproj
  src/Cake.Issues.InspectCode.Tests/Cake.Issues.InspectCode.Tests.csproj
  src/Cake.Issues.InspectCode/Cake.Issues.InspectCode.csproj
  src/Cake.Issues.Markdownlint.Tests/Cake.Issues.Markdownlint.Tests.csproj
  src/Cake.Issues.Markdownlint/Cake.Issues.Markdownlint.csproj
  src/Cake.Issues.MsBuild.Tests/Cake.Issues.MsBuild.Tests.csproj
  src/Cake.Issues.MsBuild/Cake.Issues.MsBuild.csproj
  src/Cake.Issues.PullRequests.AppVeyor.Tests/Cake.Issues.PullRequests.AppVeyor.Tests.csproj
  src/Cake.Issues.PullRequests.AppVeyor/Cake.Issues.PullRequests.AppVeyor.csproj
  src/Cake.Issues.PullRequests.AzureDevOps.Tests/Cake.Issues.PullRequests.AzureDevOps.Tests.csproj
  src/Cake.Issues.PullRequests.AzureDevOps/Cake.Issues.PullRequests.AzureDevOps.csproj
  src/Cake.Issues.PullRequests.GitHubActions.Tests/Cake.Issues.PullRequests.GitHubActions.Tests.csproj
  src/Cake.Issues.PullRequests.GitHubActions/Cake.Issues.PullRequests.GitHubActions.csproj
  src/Cake.Issues.PullRequests.Tests/Cake.Issues.PullRequests.Tests.csproj
  src/Cake.Issues.PullRequests/Cake.Issues.PullRequests.csproj
  src/Cake.Issues.Reporting.Console.Tests/Cake.Issues.Reporting.Console.Tests.csproj
  src/Cake.Issues.Reporting.Console/Cake.Issues.Reporting.Console.csproj
  src/Cake.Issues.Reporting.Generic.Tests/Cake.Issues.Reporting.Generic.Tests.csproj
  src/Cake.Issues.Reporting.Generic/Cake.Issues.Reporting.Generic.csproj
  src/Cake.Issues.Reporting.Sarif.Tests/Cake.Issues.Reporting.Sarif.Tests.csproj
  src/Cake.Issues.Reporting.Sarif/Cake.Issues.Reporting.Sarif.csproj
  src/Cake.Issues.Reporting.Tests/Cake.Issues.Reporting.Tests.csproj
  src/Cake.Issues.Reporting/Cake.Issues.Reporting.csproj
  src/Cake.Issues.Sarif.Tests/Cake.Issues.Sarif.Tests.csproj
  src/Cake.Issues.Sarif/Cake.Issues.Sarif.csproj
  src/Cake.Issues.Terraform.Tests/Cake.Issues.Terraform.Tests.csproj
  src/Cake.Issues.Terraform/Cake.Issues.Terraform.csproj
  src/Cake.Issues.Testing/Cake.Issues.Testing.csproj
  src/Cake.Issues.Tests/Cake.Issues.Tests.csproj
  src/Cake.Issues/Cake.Issues.csproj
  src/Directory.Build.props
Due: Cake.Issues, Cake.Issues.DocFx, Cake.Issues.EsLint, Cake.Issues.GitRepository, Cake.Issues.InspectCode, Cake.Issues.Markdownlint, Cake.Issues.MsBuild, Cake.Issues.PullRequests, Cake.Issues.PullRequests.AppVeyor, Cake.Issues.PullRequests.AzureDevOps, Cake.Issues.PullRequests.GitHubActions, Cake.Issues.Reporting, Cake.Issues.Reporting.Console, Cake.Issues.Reporting.Generic, Cake.Issues.Reporting.Sarif, Cake.Issues.Sarif, Cake.Issues.Terraform, Cake.Issues.Testing

Update to ReSharper 2024.1.2
  recipe.cake
Due: none

Settings update
  src/Cake.Issues.sln.DotSettings
Due: none

Update to ReSharper 2024.1.2 (#587)
  recipe.cake
  src/Cake.Issues.sln.DotSettings
Due: none

Fix typos in comments
  src/Cake.Issues.PullRequests.AppVeyor/AppVeyorPullRequestSystem.cs
  src/Cake.Issues.PullRequests.GitHubActions/GitHubActionsPullRequestSystem.cs
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportFixture.cs
  src/Cake.Issues.Sarif/SarifIssuesProvider.cs
Due: Cake.Issues.PullRequests.AppVeyor, Cake.Issues.PullRequests.GitHubActions, Cake.Issues.Sarif

Define target frameworks in Directory.Build.props
  src/Cake.Issues.DocFx.Tests/Cake.Issues.DocFx.Tests.csproj
  src/Cake.Issues.DocFx/Cake.Issues.DocFx.csproj
  src/Cake.Issues.EsLint.Tests/Cake.Issues.EsLint.Tests.csproj
  src/Cake.Issues.EsLint/Cake.Issues.EsLint.csproj
  src/Cake.Issues.GitRepository.Tests/Cake.Issues.GitRepository.Tests.csproj
  src/Cake.Issues.GitRepository/Cake.Issues.GitRepository.csproj
  src/Cake.Issues.InspectCode.Tests/Cake.Issues.InspectCode.Tests.csproj
  src/Cake.Issues.InspectCode/Cake.Issues.InspectCode.csproj
  src/Cake.Issues.Markdownlint.Tests/Cake.Issues.Markdownlint.Tests.csproj
  src/Cake.Issues.Markdownlint/Cake.Issues.Markdownlint.csproj
  src/Cake.Issues.MsBuild.Tests/Cake.Issues.MsBuild.Tests.csproj
  src/Cake.Issues.MsBuild/Cake.Issues.MsBuild.csproj
  src/Cake.Issues.PullRequests.AppVeyor.Tests/Cake.Issues.PullRequests.AppVeyor.Tests.csproj
  src/Cake.Issues.PullRequests.AppVeyor/Cake.Issues.PullRequests.AppVeyor.csproj
  src/Cake.Issues.PullRequests.AzureDevOps.Tests/Cake.Issues.PullRequests.AzureDevOps.Tests.csproj
  src/Cake.Issues.PullRequests.AzureDevOps/Cake.Issues.PullRequests.AzureDevOps.csproj
  src/Cake.Issues.PullRequests.GitHubActions.Tests/Cake.Issues.PullRequests.GitHubActions.Tests.csproj
  src/Cake.Issues.PullRequests.GitHubActions/Cake.Issues.PullRequests.GitHubActions.csproj
  src/Cake.Issues.PullRequests.Tests/Cake.Issues.PullRequests.Tests.csproj
  src/Cake.Issues.PullRequests/Cake.Issues.PullRequests.csproj
  src/Cake.Issues.Reporting.Console.Tests/Cake.Issues.Reporting.Console.Tests.csproj
  src/Cake.Issues.Reporting.Console/Cake.Issues.Reporting.Console.csproj
  src/Cake.Issues.Reporting.Generic.Tests/Cake.Issues.Reporting.Generic.Tests.csproj
  src/Cake.Issues.Reporting.Generic/Cake.Issues.Reporting.Generic.csproj
  src/Cake.Issues.Reporting.Sarif.Tests/Cake.Issues.Reporting.Sarif.Tests.csproj
  src/Cake.Issues.Reporting.Sarif/Cake.Issues.Reporting.Sarif.csproj
  src/Cake.Issues.Reporting.Tests/Cake.Issues.Reporting.Tests.csproj
  src/Cake.Issues.Reporting/Cake.Issues.Reporting.csproj
  src/Cake.Issues.Sarif.Tests/Cake.Issues.Sarif.Tests.csproj
  src/Cake.Issues.Sarif/Cake.Issues.Sarif.csproj
  src/Cake.Issues.Terraform.Tests/Cake.Issues.Terraform.Tests.csproj
  src/Cake.Issues.Terraform/Cake.Issues.Terraform.csproj
  src/Cake.Issues.Testing/Cake.Issues.Testing.csproj
  src/Cake.Issues.Tests/Cake.Issues.Tests.csproj
  src/Cake.Issues/Cake.Issues.csproj
  src/Directory.Build.props
Due: Cake.Issues, Cake.Issues.DocFx, Cake.Issues.EsLint, Cake.Issues.GitRepository, Cake.Issues.InspectCode, Cake.Issues.Markdownlint, Cake.Issues.MsBuild, Cake.Issues.PullRequests, Cake.Issues.PullRequests.AppVeyor, Cake.Issues.PullRequests.AzureDevOps, Cake.Issues.PullRequests.GitHubActions, Cake.Issues.Reporting, Cake.Issues.Reporting.Console, Cake.Issues.Reporting.Generic, Cake.Issues.Reporting.Sarif, Cake.Issues.Sarif, Cake.Issues.Terraform, Cake.Issues.Testing

Update and simplify file paths
  nuspec/nuget/Cake.Issues.DocFx.nuspec
  nuspec/nuget/Cake.Issues.EsLint.nuspec
  nuspec/nuget/Cake.Issues.GitRepository.nuspec
  nuspec/nuget/Cake.Issues.InspectCode.nuspec
  nuspec/nuget/Cake.Issues.Markdownlint.nuspec
  nuspec/nuget/Cake.Issues.MsBuild.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AppVeyor.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.AzureDevOps.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.GitHubActions.nuspec
  nuspec/nuget/Cake.Issues.PullRequests.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Console.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Generic.nuspec
  nuspec/nuget/Cake.Issues.Reporting.Sarif.nuspec
  nuspec/nuget/Cake.Issues.Reporting.nuspec
  nuspec/nuget/Cake.Issues.Sarif.nuspec
  nuspec/nuget/Cake.Issues.Terraform.nuspec
  nuspec/nuget/Cake.Issues.Testing.nuspec
  nuspec/nuget/Cake.Issues.nuspec
Due: none

Use single deconstruction declaration
  src/Cake.Issues.Reporting.Console/IssueDiagnostic.cs
Due: Cake.Issues.Reporting.Console

Remove unused using directives
  src/Cake.Issues.DocFx/DocFxIssuesProvider.cs
  src/Cake.Issues.EsLint.Tests/Properties/ProjectInfo.cs
  src/Cake.Issues.EsLint/LogFileFormat/JsonLogFileFormat.cs
  src/Cake.Issues.EsLint/Properties/ProjectInfo.cs
  src/Cake.Issues.PullRequests/PullRequestIssuesException.cs
  src/Cake.Issues.Reporting.Generic/Templates/Diagnostic.cshtml
  src/Cake.Issues.Reporting.Sarif/IIssueExtensions.cs
  src/Cake.Issues.Testing/BaseConfigurableIssueProviderFixture.cs
  src/Cake.Issues.Testing/BaseIssueProviderFixture.cs
  src/Cake.Issues/StringPathExtensions.cs
Due: Cake.Issues, Cake.Issues.DocFx, Cake.Issues.EsLint, Cake.Issues.PullRequests, Cake.Issues.Reporting.Generic, Cake.Issues.Reporting.Sarif, Cake.Issues.Testing

Remove verbatim string prefix
  src/Cake.Issues.DocFx.Tests/DocFxProviderTests.cs
  src/Cake.Issues.DocFx.Tests/DocFxSettingsTests.cs
  src/Cake.Issues.InspectCode.Tests/InspectCodeIssuesProviderTests.cs
  src/Cake.Issues.MsBuild.Tests/BaseMsBuildLogFileFormatTests.cs
  src/Cake.Issues.MsBuild.Tests/LogFileFormat/XmlFileLoggerLogFileFormatTests.cs
  src/Cake.Issues.PullRequests.Tests/BaseFilteringByModifiedFilesCapabilityTests.cs
  src/Cake.Issues.PullRequests.Tests/IssueFiltererTests.cs
  src/Cake.Issues.PullRequests.Tests/PullRequestDiscussionThreadTests.cs
  src/Cake.Issues.Reporting.Generic.Tests/GenericIssueReportGeneratorTests.cs
  src/Cake.Issues.Reporting.Generic.Tests/IIssueExtensionsTests.cs
  src/Cake.Issues.Sarif.Tests/SarifIssuesProviderTests.cs
  src/Cake.Issues.Terraform.Tests/TerraformProviderTests.cs
  src/Cake.Issues.Terraform.Tests/TerraformSettingsTests.cs
  src/Cake.Issues.Tests/IIssueExtensionsTests.cs
  src/Cake.Issues.Tests/IssueBuilderTests.cs
  src/Cake.Issues.Tests/IssueTests.cs
  src/Cake.Issues.Tests/Serialization/IssueSerializationExtensionsTests.cs
  src/Cake.Issues.Tests/StringPathExtensionsTests.cs
Due: none

Remove redundant delegate constructor calls
  src/Cake.Issues.GitRepository/GitRepositoryIssuesProvider.cs
Due: Cake.Issues.GitRepository

Use preferred style of new expression when created type is evident
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.Reporting.Sarif

Remove unused paramter
  src/Cake.Issues.Reporting.Generic.Tests/HtmlDxDataGridTemplateTests.cs
  src/Cake.Issues.Tests/BaseRuleUrlResolverTests.cs
Due: none

Remove redundant initializers
  src/Cake.Issues.DocFx/DocFxIssuesProvider.cs
  src/Cake.Issues.EsLint/LogFileFormat/JsonLogFileFormat.cs
  src/Cake.Issues.Markdownlint/LogFileFormat/MarkdownlintCliJsonLogFileFormat.cs
  src/Cake.Issues.Terraform/TerraformIssuesProvider.cs
Due: Cake.Issues.DocFx, Cake.Issues.EsLint, Cake.Issues.Markdownlint, Cake.Issues.Terraform

Use primary constructor
  src/Cake.Issues.GitRepository.Tests/GitRunnerFixture.cs
Due: none

Convert constructor into member initializers
  src/Cake.Issues.PullRequests.AppVeyor.Tests/CakeContextFixture.cs
  src/Cake.Issues.Reporting.Console.Tests/ConsoleIssueReportFixture.cs
  src/Cake.Issues.Reporting.Sarif.Tests/SarifIssueReportFixture.cs
Due: none

Remove multiple enumerations
  src/Cake.Issues.GitRepository/GitRepositoryIssuesProvider.cs
  src/Cake.Issues.Reporting.Console/IssueDiagnostic.cs
  src/Cake.Issues.Reporting.Sarif/SarifIssueReportGenerator.cs
Due: Cake.Issues.GitRepository, Cake.Issues.Reporting.Console, Cake.Issues.Reporting.Sarif

Convert lambda expression into method group
  src/Cake.Issues.GitRepository/GitRepositoryIssuesProvider.cs
Due: Cake.Issues.GitRepository

Invoke as extension method
  src/Cake.Issues.Reporting.Console.Tests/ConsoleIssueReportFixture.cs
Due: none

Use pattern for null checks
  src/Cake.Issues.DocFx/DocFxIssuesProvider.cs
  src/Cake.Issues.Reporting.Console/ConsoleIssueReportGenerator.cs
  src/Cake.Issues.Sarif/SarifIssuesProvider.cs
Due: Cake.Issues.DocFx, Cake.Issues.Reporting.Console, Cake.Issues.Sarif

Use primary constructor parameter
  src/Cake.Issues.Reporting.Console/FileSystemRepository.cs
  src/Cake.Issues/IIssueComparer.cs
Due: Cake.Issues, Cake.Issues.Reporting.Console
